/* deep by Iterm2B24 */

.base00-background { background-color: #080808; }
.base01-background { background-color: #000000; }
.base02-background { background-color: #535353; }
.base03-background { background-color: #767676; }
.base04-background { background-color: #999999; }
.base05-background { background-color: #bcbcbc; }
.base06-background { background-color: #dfdfdf; }
.base07-background { background-color: #fffefe; }
.base08-background { background-color: #d60005; }
.base09-background { background-color: #d9bc25; }
.base0A-background { background-color: #9fa8fe; }
.base0B-background { background-color: #1cd815; }
.base0C-background { background-color: #4fd2d9; }
.base0D-background { background-color: #5665fe; }
.base0E-background { background-color: #af51d9; }
.base0F-background { background-color: #6b0002; }
.base10-background { background-color: #373737; }
.base11-background { background-color: #1b1b1b; }
.base12-background { background-color: #fb0006; }
.base13-background { background-color: #fedc2b; }
.base14-background { background-color: #21fe17; }
.base15-background { background-color: #8cf9fe; }
.base16-background { background-color: #9fa8fe; }
.base17-background { background-color: #e099fe; }

.base00 { color: #080808; }
.base01 { color: #000000; }
.base02 { color: #535353; }
.base03 { color: #767676; }
.base04 { color: #999999; }
.base05 { color: #bcbcbc; }
.base06 { color: #dfdfdf; }
.base07 { color: #fffefe; }
.base08 { color: #d60005; }
.base09 { color: #d9bc25; }
.base0A { color: #9fa8fe; }
.base0B { color: #1cd815; }
.base0C { color: #4fd2d9; }
.base0D { color: #5665fe; }
.base0E { color: #af51d9; }
.base0F { color: #6b0002; }
.base10 { color: #373737; }
.base11 { color: #1b1b1b; }
.base12 { color: #fb0006; }
.base13 { color: #fedc2b; }
.base14 { color: #21fe17; }
.base15 { color: #8cf9fe; }
.base16 { color: #9fa8fe; }
.base17 { color: #e099fe; }
