/* Red Alert by Iterm2B24 */

.base00-background { background-color: #762423; }
.base01-background { background-color: #000000; }
.base02-background { background-color: #262626; }
.base03-background { background-color: #525252; }
.base04-background { background-color: #7e7e7e; }
.base05-background { background-color: #aaaaaa; }
.base06-background { background-color: #d6d6d6; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #d52e4d; }
.base09-background { background-color: #beb86b; }
.base0A-background { background-color: #65a9f0; }
.base0B-background { background-color: #71be6b; }
.base0C-background { background-color: #6bbeb8; }
.base0D-background { background-color: #479bed; }
.base0E-background { background-color: #e878d6; }
.base0F-background { background-color: #6a1726; }
.base10-background { background-color: #191919; }
.base11-background { background-color: #0c0c0c; }
.base12-background { background-color: #e02453; }
.base13-background { background-color: #dfddb7; }
.base14-background { background-color: #aff08b; }
.base15-background { background-color: #b7dfdd; }
.base16-background { background-color: #65a9f0; }
.base17-background { background-color: #ddb7df; }

.base00 { color: #762423; }
.base01 { color: #000000; }
.base02 { color: #262626; }
.base03 { color: #525252; }
.base04 { color: #7e7e7e; }
.base05 { color: #aaaaaa; }
.base06 { color: #d6d6d6; }
.base07 { color: #ffffff; }
.base08 { color: #d52e4d; }
.base09 { color: #beb86b; }
.base0A { color: #65a9f0; }
.base0B { color: #71be6b; }
.base0C { color: #6bbeb8; }
.base0D { color: #479bed; }
.base0E { color: #e878d6; }
.base0F { color: #6a1726; }
.base10 { color: #191919; }
.base11 { color: #0c0c0c; }
.base12 { color: #e02453; }
.base13 { color: #dfddb7; }
.base14 { color: #aff08b; }
.base15 { color: #b7dfdd; }
.base16 { color: #65a9f0; }
.base17 { color: #ddb7df; }
