/* Lab Fox by Iterm2B24 */

.base00-background { background-color: #2e2e2e; }
.base01-background { background-color: #2e2e2e; }
.base02-background { background-color: #454545; }
.base03-background { background-color: #737373; }
.base04-background { background-color: #a1a2a2; }
.base05-background { background-color: #cfd0d0; }
.base06-background { background-color: #feffff; }
.base07-background { background-color: #feffff; }
.base08-background { background-color: #fc6d26; }
.base09-background { background-color: #fca121; }
.base0A-background { background-color: #db501f; }
.base0B-background { background-color: #3eb383; }
.base0C-background { background-color: #6e49cb; }
.base0D-background { background-color: #db3b21; }
.base0E-background { background-color: #380d75; }
.base0F-background { background-color: #7e3613; }
.base10-background { background-color: #2e2e2e; }
.base11-background { background-color: #171717; }
.base12-background { background-color: #ff6517; }
.base13-background { background-color: #fca012; }
.base14-background { background-color: #52e9a8; }
.base15-background { background-color: #7d53e7; }
.base16-background { background-color: #db501f; }
.base17-background { background-color: #441090; }

.base00 { color: #2e2e2e; }
.base01 { color: #2e2e2e; }
.base02 { color: #454545; }
.base03 { color: #737373; }
.base04 { color: #a1a2a2; }
.base05 { color: #cfd0d0; }
.base06 { color: #feffff; }
.base07 { color: #feffff; }
.base08 { color: #fc6d26; }
.base09 { color: #fca121; }
.base0A { color: #db501f; }
.base0B { color: #3eb383; }
.base0C { color: #6e49cb; }
.base0D { color: #db3b21; }
.base0E { color: #380d75; }
.base0F { color: #7e3613; }
.base10 { color: #2e2e2e; }
.base11 { color: #171717; }
.base12 { color: #ff6517; }
.base13 { color: #fca012; }
.base14 { color: #52e9a8; }
.base15 { color: #7d53e7; }
.base16 { color: #db501f; }
.base17 { color: #441090; }
