/* One Light by Base24 */

.base00-background { background-color: #e7e7e9; }
.base01-background { background-color: #dfdfe1; }
.base02-background { background-color: #cacace; }
.base03-background { background-color: #a0a1a7; }
.base04-background { background-color: #696c77; }
.base05-background { background-color: #383a42; }
.base06-background { background-color: #202227; }
.base07-background { background-color: #090a0b; }
.base08-background { background-color: #ca1243; }
.base09-background { background-color: #c18401; }
.base0A-background { background-color: #febb2a; }
.base0B-background { background-color: #50a14f; }
.base0C-background { background-color: #0184bc; }
.base0D-background { background-color: #4078f2; }
.base0E-background { background-color: #a626a4; }
.base0F-background { background-color: #986801; }
.base10-background { background-color: #f0f0f1; }
.base11-background { background-color: #fafafa; }
.base12-background { background-color: #ec2258; }
.base13-background { background-color: #f4a701; }
.base14-background { background-color: #6db76c; }
.base15-background { background-color: #01a7ef; }
.base16-background { background-color: #709af5; }
.base17-background { background-color: #d02fcd; }

.base00 { color: #e7e7e9; }
.base01 { color: #dfdfe1; }
.base02 { color: #cacace; }
.base03 { color: #a0a1a7; }
.base04 { color: #696c77; }
.base05 { color: #383a42; }
.base06 { color: #202227; }
.base07 { color: #090a0b; }
.base08 { color: #ca1243; }
.base09 { color: #c18401; }
.base0A { color: #febb2a; }
.base0B { color: #50a14f; }
.base0C { color: #0184bc; }
.base0D { color: #4078f2; }
.base0E { color: #a626a4; }
.base0F { color: #986801; }
.base10 { color: #f0f0f1; }
.base11 { color: #fafafa; }
.base12 { color: #ec2258; }
.base13 { color: #f4a701; }
.base14 { color: #6db76c; }
.base15 { color: #01a7ef; }
.base16 { color: #709af5; }
.base17 { color: #d02fcd; }
