/* Galaxy by Iterm2B24 */

.base00-background { background-color: #1c2836; }
.base01-background { background-color: #000000; }
.base02-background { background-color: #555555; }
.base03-background { background-color: #6e6e6e; }
.base04-background { background-color: #888888; }
.base05-background { background-color: #a1a1a1; }
.base06-background { background-color: #bbbbbb; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #f9555f; }
.base09-background { background-color: #fdf029; }
.base0A-background { background-color: #589cf5; }
.base0B-background { background-color: #20af89; }
.base0C-background { background-color: #1e9ee6; }
.base0D-background { background-color: #589cf5; }
.base0E-background { background-color: #934d95; }
.base0F-background { background-color: #7c2a2f; }
.base10-background { background-color: #383838; }
.base11-background { background-color: #1c1c1c; }
.base12-background { background-color: #fa8b8e; }
.base13-background { background-color: #ffff55; }
.base14-background { background-color: #34bb99; }
.base15-background { background-color: #3978bb; }
.base16-background { background-color: #589cf5; }
.base17-background { background-color: #e75598; }

.base00 { color: #1c2836; }
.base01 { color: #000000; }
.base02 { color: #555555; }
.base03 { color: #6e6e6e; }
.base04 { color: #888888; }
.base05 { color: #a1a1a1; }
.base06 { color: #bbbbbb; }
.base07 { color: #ffffff; }
.base08 { color: #f9555f; }
.base09 { color: #fdf029; }
.base0A { color: #589cf5; }
.base0B { color: #20af89; }
.base0C { color: #1e9ee6; }
.base0D { color: #589cf5; }
.base0E { color: #934d95; }
.base0F { color: #7c2a2f; }
.base10 { color: #383838; }
.base11 { color: #1c1c1c; }
.base12 { color: #fa8b8e; }
.base13 { color: #ffff55; }
.base14 { color: #34bb99; }
.base15 { color: #3978bb; }
.base16 { color: #589cf5; }
.base17 { color: #e75598; }
