/* Builtin Pastel Dark by Iterm2B24 */

.base00-background { background-color: #000000; }
.base01-background { background-color: #4e4e4e; }
.base02-background { background-color: #7c7c7c; }
.base03-background { background-color: #989898; }
.base04-background { background-color: #b5b5b5; }
.base05-background { background-color: #d1d1d1; }
.base06-background { background-color: #eeeeee; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #ff6b60; }
.base09-background { background-color: #ffffb6; }
.base0A-background { background-color: #b5dcfe; }
.base0B-background { background-color: #a7ff60; }
.base0C-background { background-color: #c6c4fd; }
.base0D-background { background-color: #96cafd; }
.base0E-background { background-color: #ff73fd; }
.base0F-background { background-color: #7f3530; }
.base10-background { background-color: #525252; }
.base11-background { background-color: #292929; }
.base12-background { background-color: #ffb6b0; }
.base13-background { background-color: #ffffcb; }
.base14-background { background-color: #ceffab; }
.base15-background { background-color: #dfdffe; }
.base16-background { background-color: #b5dcfe; }
.base17-background { background-color: #ff9cfe; }

.base00 { color: #000000; }
.base01 { color: #4e4e4e; }
.base02 { color: #7c7c7c; }
.base03 { color: #989898; }
.base04 { color: #b5b5b5; }
.base05 { color: #d1d1d1; }
.base06 { color: #eeeeee; }
.base07 { color: #ffffff; }
.base08 { color: #ff6b60; }
.base09 { color: #ffffb6; }
.base0A { color: #b5dcfe; }
.base0B { color: #a7ff60; }
.base0C { color: #c6c4fd; }
.base0D { color: #96cafd; }
.base0E { color: #ff73fd; }
.base0F { color: #7f3530; }
.base10 { color: #525252; }
.base11 { color: #292929; }
.base12 { color: #ffb6b0; }
.base13 { color: #ffffcb; }
.base14 { color: #ceffab; }
.base15 { color: #dfdffe; }
.base16 { color: #b5dcfe; }
.base17 { color: #ff9cfe; }
