/* Flatland by Iterm2B24 */

.base00-background { background-color: #1c1e20; }
.base01-background { background-color: #1c1d19; }
.base02-background { background-color: #1c1d19; }
.base03-background { background-color: #545552; }
.base04-background { background-color: #8d8e8b; }
.base05-background { background-color: #c5c6c4; }
.base06-background { background-color: #fefffe; }
.base07-background { background-color: #fefffe; }
.base08-background { background-color: #f18238; }
.base09-background { background-color: #f3ef6d; }
.base0A-background { background-color: #61b8d0; }
.base0B-background { background-color: #9ed264; }
.base0C-background { background-color: #d53864; }
.base0D-background { background-color: #4f96be; }
.base0E-background { background-color: #695abb; }
.base0F-background { background-color: #78411c; }
.base10-background { background-color: #121310; }
.base11-background { background-color: #090908; }
.base12-background { background-color: #d12a24; }
.base13-background { background-color: #ff8948; }
.base14-background { background-color: #a7d32c; }
.base15-background { background-color: #d53864; }
.base16-background { background-color: #61b8d0; }
.base17-background { background-color: #695abb; }

.base00 { color: #1c1e20; }
.base01 { color: #1c1d19; }
.base02 { color: #1c1d19; }
.base03 { color: #545552; }
.base04 { color: #8d8e8b; }
.base05 { color: #c5c6c4; }
.base06 { color: #fefffe; }
.base07 { color: #fefffe; }
.base08 { color: #f18238; }
.base09 { color: #f3ef6d; }
.base0A { color: #61b8d0; }
.base0B { color: #9ed264; }
.base0C { color: #d53864; }
.base0D { color: #4f96be; }
.base0E { color: #695abb; }
.base0F { color: #78411c; }
.base10 { color: #121310; }
.base11 { color: #090908; }
.base12 { color: #d12a24; }
.base13 { color: #ff8948; }
.base14 { color: #a7d32c; }
.base15 { color: #d53864; }
.base16 { color: #61b8d0; }
.base17 { color: #695abb; }
