/* Operator Mono Dark by Iterm2B24 */

.base00-background { background-color: #191919; }
.base01-background { background-color: #5a5a5a; }
.base02-background { background-color: #9a9a99; }
.base03-background { background-color: #a6a8a6; }
.base04-background { background-color: #b3b6b3; }
.base05-background { background-color: #c0c4c0; }
.base06-background { background-color: #cdd3cd; }
.base07-background { background-color: #fdfdf6; }
.base08-background { background-color: #ca372d; }
.base09-background { background-color: #d4d697; }
.base0A-background { background-color: #89d3f6; }
.base0B-background { background-color: #4d7b3a; }
.base0C-background { background-color: #72d4c6; }
.base0D-background { background-color: #4387cf; }
.base0E-background { background-color: #b86cb4; }
.base0F-background { background-color: #651b16; }
.base10-background { background-color: #666666; }
.base11-background { background-color: #333333; }
.base12-background { background-color: #c37d62; }
.base13-background { background-color: #fdfdc5; }
.base14-background { background-color: #83d0a2; }
.base15-background { background-color: #82e9da; }
.base16-background { background-color: #89d3f6; }
.base17-background { background-color: #fe2c79; }

.base00 { color: #191919; }
.base01 { color: #5a5a5a; }
.base02 { color: #9a9a99; }
.base03 { color: #a6a8a6; }
.base04 { color: #b3b6b3; }
.base05 { color: #c0c4c0; }
.base06 { color: #cdd3cd; }
.base07 { color: #fdfdf6; }
.base08 { color: #ca372d; }
.base09 { color: #d4d697; }
.base0A { color: #89d3f6; }
.base0B { color: #4d7b3a; }
.base0C { color: #72d4c6; }
.base0D { color: #4387cf; }
.base0E { color: #b86cb4; }
.base0F { color: #651b16; }
.base10 { color: #666666; }
.base11 { color: #333333; }
.base12 { color: #c37d62; }
.base13 { color: #fdfdc5; }
.base14 { color: #83d0a2; }
.base15 { color: #82e9da; }
.base16 { color: #89d3f6; }
.base17 { color: #fe2c79; }
