/* The Hulk by Iterm2B24 */

.base00-background { background-color: #1b1d1e; }
.base01-background { background-color: #1b1d1e; }
.base02-background { background-color: #505354; }
.base03-background { background-color: #727473; }
.base04-background { background-color: #949592; }
.base05-background { background-color: #b6b6b1; }
.base06-background { background-color: #d8d8d0; }
.base07-background { background-color: #e5e5e0; }
.base08-background { background-color: #259d1a; }
.base09-background { background-color: #62e456; }
.base0A-background { background-color: #4f6a95; }
.base0B-background { background-color: #13ce2f; }
.base0C-background { background-color: #378ca9; }
.base0D-background { background-color: #2424f4; }
.base0E-background { background-color: #641e73; }
.base0F-background { background-color: #124e0d; }
.base10-background { background-color: #353738; }
.base11-background { background-color: #1a1b1c; }
.base12-background { background-color: #8dff2a; }
.base13-background { background-color: #3afe15; }
.base14-background { background-color: #48ff76; }
.base15-background { background-color: #3f85a5; }
.base16-background { background-color: #4f6a95; }
.base17-background { background-color: #72579d; }

.base00 { color: #1b1d1e; }
.base01 { color: #1b1d1e; }
.base02 { color: #505354; }
.base03 { color: #727473; }
.base04 { color: #949592; }
.base05 { color: #b6b6b1; }
.base06 { color: #d8d8d0; }
.base07 { color: #e5e5e0; }
.base08 { color: #259d1a; }
.base09 { color: #62e456; }
.base0A { color: #4f6a95; }
.base0B { color: #13ce2f; }
.base0C { color: #378ca9; }
.base0D { color: #2424f4; }
.base0E { color: #641e73; }
.base0F { color: #124e0d; }
.base10 { color: #353738; }
.base11 { color: #1a1b1c; }
.base12 { color: #8dff2a; }
.base13 { color: #3afe15; }
.base14 { color: #48ff76; }
.base15 { color: #3f85a5; }
.base16 { color: #4f6a95; }
.base17 { color: #72579d; }
