/* Treehouse by Iterm2B24 */

.base00-background { background-color: #191919; }
.base01-background { background-color: #321200; }
.base02-background { background-color: #423625; }
.base03-background { background-color: #4f4330; }
.base04-background { background-color: #5c503c; }
.base05-background { background-color: #695d47; }
.base06-background { background-color: #776b53; }
.base07-background { background-color: #ffc800; }
.base08-background { background-color: #b1270e; }
.base09-background { background-color: #a9810b; }
.base0A-background { background-color: #85cfec; }
.base0B-background { background-color: #44a900; }
.base0C-background { background-color: #b2591d; }
.base0D-background { background-color: #578499; }
.base0E-background { background-color: #96363c; }
.base0F-background { background-color: #581307; }
.base10-background { background-color: #2c2418; }
.base11-background { background-color: #16120c; }
.base12-background { background-color: #ed5c20; }
.base13-background { background-color: #f1b731; }
.base14-background { background-color: #55f237; }
.base15-background { background-color: #f07d14; }
.base16-background { background-color: #85cfec; }
.base17-background { background-color: #e04b5a; }

.base00 { color: #191919; }
.base01 { color: #321200; }
.base02 { color: #423625; }
.base03 { color: #4f4330; }
.base04 { color: #5c503c; }
.base05 { color: #695d47; }
.base06 { color: #776b53; }
.base07 { color: #ffc800; }
.base08 { color: #b1270e; }
.base09 { color: #a9810b; }
.base0A { color: #85cfec; }
.base0B { color: #44a900; }
.base0C { color: #b2591d; }
.base0D { color: #578499; }
.base0E { color: #96363c; }
.base0F { color: #581307; }
.base10 { color: #2c2418; }
.base11 { color: #16120c; }
.base12 { color: #ed5c20; }
.base13 { color: #f1b731; }
.base14 { color: #55f237; }
.base15 { color: #f07d14; }
.base16 { color: #85cfec; }
.base17 { color: #e04b5a; }
