/* Hurtado by Iterm2B24 */

.base00-background { background-color: #000000; }
.base01-background { background-color: #575757; }
.base02-background { background-color: #252525; }
.base03-background { background-color: #4e4e4e; }
.base04-background { background-color: #787878; }
.base05-background { background-color: #a1a1a1; }
.base06-background { background-color: #cbcbcb; }
.base07-background { background-color: #dbdbdb; }
.base08-background { background-color: #ff1b00; }
.base09-background { background-color: #fbe74a; }
.base0A-background { background-color: #89bdff; }
.base0B-background { background-color: #a5df55; }
.base0C-background { background-color: #85e9fe; }
.base0D-background { background-color: #486387; }
.base0E-background { background-color: #fc5ef0; }
.base0F-background { background-color: #7f0d00; }
.base10-background { background-color: #181818; }
.base11-background { background-color: #0c0c0c; }
.base12-background { background-color: #d41c00; }
.base13-background { background-color: #fbe749; }
.base14-background { background-color: #a5df55; }
.base15-background { background-color: #85e9fe; }
.base16-background { background-color: #89bdff; }
.base17-background { background-color: #bf00c0; }

.base00 { color: #000000; }
.base01 { color: #575757; }
.base02 { color: #252525; }
.base03 { color: #4e4e4e; }
.base04 { color: #787878; }
.base05 { color: #a1a1a1; }
.base06 { color: #cbcbcb; }
.base07 { color: #dbdbdb; }
.base08 { color: #ff1b00; }
.base09 { color: #fbe74a; }
.base0A { color: #89bdff; }
.base0B { color: #a5df55; }
.base0C { color: #85e9fe; }
.base0D { color: #486387; }
.base0E { color: #fc5ef0; }
.base0F { color: #7f0d00; }
.base10 { color: #181818; }
.base11 { color: #0c0c0c; }
.base12 { color: #d41c00; }
.base13 { color: #fbe749; }
.base14 { color: #a5df55; }
.base15 { color: #85e9fe; }
.base16 { color: #89bdff; }
.base17 { color: #bf00c0; }
