/* Sundried by Iterm2B24 */

.base00-background { background-color: #1a1818; }
.base01-background { background-color: #302b2a; }
.base02-background { background-color: #4d4d47; }
.base03-background { background-color: #6b6b67; }
.base04-background { background-color: #8a8a87; }
.base05-background { background-color: #a9a9a7; }
.base06-background { background-color: #c8c8c8; }
.base07-background { background-color: #fffefe; }
.base08-background { background-color: #a6463d; }
.base09-background { background-color: #9c5f2a; }
.base0A-background { background-color: #7898f7; }
.base0B-background { background-color: #577644; }
.base0C-background { background-color: #9c814e; }
.base0D-background { background-color: #485a98; }
.base0E-background { background-color: #854551; }
.base0F-background { background-color: #53231e; }
.base10-background { background-color: #33332f; }
.base11-background { background-color: #191917; }
.base12-background { background-color: #aa000c; }
.base13-background { background-color: #fc6a20; }
.base14-background { background-color: #128c20; }
.base15-background { background-color: #fad384; }
.base16-background { background-color: #7898f7; }
.base17-background { background-color: #fc89a0; }

.base00 { color: #1a1818; }
.base01 { color: #302b2a; }
.base02 { color: #4d4d47; }
.base03 { color: #6b6b67; }
.base04 { color: #8a8a87; }
.base05 { color: #a9a9a7; }
.base06 { color: #c8c8c8; }
.base07 { color: #fffefe; }
.base08 { color: #a6463d; }
.base09 { color: #9c5f2a; }
.base0A { color: #7898f7; }
.base0B { color: #577644; }
.base0C { color: #9c814e; }
.base0D { color: #485a98; }
.base0E { color: #854551; }
.base0F { color: #53231e; }
.base10 { color: #33332f; }
.base11 { color: #191917; }
.base12 { color: #aa000c; }
.base13 { color: #fc6a20; }
.base14 { color: #128c20; }
.base15 { color: #fad384; }
.base16 { color: #7898f7; }
.base17 { color: #fc89a0; }
