/* Unikitty by Iterm2B24 */

.base00-background { background-color: #ff8cd9; }
.base01-background { background-color: #0c0c0c; }
.base02-background { background-color: #424242; }
.base03-background { background-color: #696769; }
.base04-background { background-color: #918c91; }
.base05-background { background-color: #b9b1b8; }
.base06-background { background-color: #e1d6e0; }
.base07-background { background-color: #fff2fd; }
.base08-background { background-color: #a80f20; }
.base09-background { background-color: #eedf4b; }
.base0A-background { background-color: #0074ea; }
.base0B-background { background-color: #bafc8b; }
.base0C-background { background-color: #6bd0bc; }
.base0D-background { background-color: #145fcd; }
.base0E-background { background-color: #ff36a2; }
.base0F-background { background-color: #540710; }
.base10-background { background-color: #2c2c2c; }
.base11-background { background-color: #161616; }
.base12-background { background-color: #d81329; }
.base13-background { background-color: #ffee50; }
.base14-background { background-color: #d2ffaf; }
.base15-background { background-color: #79ebd5; }
.base16-background { background-color: #0074ea; }
.base17-background { background-color: #fdd5e5; }

.base00 { color: #ff8cd9; }
.base01 { color: #0c0c0c; }
.base02 { color: #424242; }
.base03 { color: #696769; }
.base04 { color: #918c91; }
.base05 { color: #b9b1b8; }
.base06 { color: #e1d6e0; }
.base07 { color: #fff2fd; }
.base08 { color: #a80f20; }
.base09 { color: #eedf4b; }
.base0A { color: #0074ea; }
.base0B { color: #bafc8b; }
.base0C { color: #6bd0bc; }
.base0D { color: #145fcd; }
.base0E { color: #ff36a2; }
.base0F { color: #540710; }
.base10 { color: #2c2c2c; }
.base11 { color: #161616; }
.base12 { color: #d81329; }
.base13 { color: #ffee50; }
.base14 { color: #d2ffaf; }
.base15 { color: #79ebd5; }
.base16 { color: #0074ea; }
.base17 { color: #fdd5e5; }
