/* OneHalfLight by Iterm2B24 */

.base00-background { background-color: #fafafa; }
.base01-background { background-color: #373942; }
.base02-background { background-color: #4f525d; }
.base03-background { background-color: #797c84; }
.base04-background { background-color: #a4a6ab; }
.base05-background { background-color: #cfd0d2; }
.base06-background { background-color: #fafafa; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #e45649; }
.base09-background { background-color: #c08400; }
.base0A-background { background-color: #61afef; }
.base0B-background { background-color: #4fa14f; }
.base0C-background { background-color: #0996b3; }
.base0D-background { background-color: #0084bc; }
.base0E-background { background-color: #a625a4; }
.base0F-background { background-color: #722b24; }
.base10-background { background-color: #34363e; }
.base11-background { background-color: #1a1b1f; }
.base12-background { background-color: #df6c75; }
.base13-background { background-color: #e4c07a; }
.base14-background { background-color: #98c379; }
.base15-background { background-color: #56b5c1; }
.base16-background { background-color: #61afef; }
.base17-background { background-color: #c577dd; }

.base00 { color: #fafafa; }
.base01 { color: #373942; }
.base02 { color: #4f525d; }
.base03 { color: #797c84; }
.base04 { color: #a4a6ab; }
.base05 { color: #cfd0d2; }
.base06 { color: #fafafa; }
.base07 { color: #ffffff; }
.base08 { color: #e45649; }
.base09 { color: #c08400; }
.base0A { color: #61afef; }
.base0B { color: #4fa14f; }
.base0C { color: #0996b3; }
.base0D { color: #0084bc; }
.base0E { color: #a625a4; }
.base0F { color: #722b24; }
.base10 { color: #34363e; }
.base11 { color: #1a1b1f; }
.base12 { color: #df6c75; }
.base13 { color: #e4c07a; }
.base14 { color: #98c379; }
.base15 { color: #56b5c1; }
.base16 { color: #61afef; }
.base17 { color: #c577dd; }
