/* idleToes by Iterm2B24 */

.base00-background { background-color: #323232; }
.base01-background { background-color: #323232; }
.base02-background { background-color: #535353; }
.base03-background { background-color: #797979; }
.base04-background { background-color: #a0a09f; }
.base05-background { background-color: #c7c7c5; }
.base06-background { background-color: #eeeeec; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #d25252; }
.base09-background { background-color: #ffc66d; }
.base0A-background { background-color: #5eb7f7; }
.base0B-background { background-color: #7fe173; }
.base0C-background { background-color: #bed6ff; }
.base0D-background { background-color: #4098ff; }
.base0E-background { background-color: #f57fff; }
.base0F-background { background-color: #692929; }
.base10-background { background-color: #373737; }
.base11-background { background-color: #1b1b1b; }
.base12-background { background-color: #f07070; }
.base13-background { background-color: #ffe48b; }
.base14-background { background-color: #9dff90; }
.base15-background { background-color: #dcf4ff; }
.base16-background { background-color: #5eb7f7; }
.base17-background { background-color: #ff9dff; }

.base00 { color: #323232; }
.base01 { color: #323232; }
.base02 { color: #535353; }
.base03 { color: #797979; }
.base04 { color: #a0a09f; }
.base05 { color: #c7c7c5; }
.base06 { color: #eeeeec; }
.base07 { color: #ffffff; }
.base08 { color: #d25252; }
.base09 { color: #ffc66d; }
.base0A { color: #5eb7f7; }
.base0B { color: #7fe173; }
.base0C { color: #bed6ff; }
.base0D { color: #4098ff; }
.base0E { color: #f57fff; }
.base0F { color: #692929; }
.base10 { color: #373737; }
.base11 { color: #1b1b1b; }
.base12 { color: #f07070; }
.base13 { color: #ffe48b; }
.base14 { color: #9dff90; }
.base15 { color: #dcf4ff; }
.base16 { color: #5eb7f7; }
.base17 { color: #ff9dff; }
