/* Pnevma by Iterm2B24 */

.base00-background { background-color: #1c1c1c; }
.base01-background { background-color: #2f2e2d; }
.base02-background { background-color: #4a4845; }
.base03-background { background-color: #6b6a67; }
.base04-background { background-color: #8d8c8a; }
.base05-background { background-color: #aeaead; }
.base06-background { background-color: #d0d0d0; }
.base07-background { background-color: #efefef; }
.base08-background { background-color: #a36666; }
.base09-background { background-color: #d7af87; }
.base0A-background { background-color: #a1bdce; }
.base0B-background { background-color: #90a57d; }
.base0C-background { background-color: #8adbb4; }
.base0D-background { background-color: #7fa5bd; }
.base0E-background { background-color: #c79ec4; }
.base0F-background { background-color: #513333; }
.base10-background { background-color: #31302e; }
.base11-background { background-color: #181817; }
.base12-background { background-color: #d78787; }
.base13-background { background-color: #e4c9af; }
.base14-background { background-color: #afbea2; }
.base15-background { background-color: #b1e7dd; }
.base16-background { background-color: #a1bdce; }
.base17-background { background-color: #d7beda; }

.base00 { color: #1c1c1c; }
.base01 { color: #2f2e2d; }
.base02 { color: #4a4845; }
.base03 { color: #6b6a67; }
.base04 { color: #8d8c8a; }
.base05 { color: #aeaead; }
.base06 { color: #d0d0d0; }
.base07 { color: #efefef; }
.base08 { color: #a36666; }
.base09 { color: #d7af87; }
.base0A { color: #a1bdce; }
.base0B { color: #90a57d; }
.base0C { color: #8adbb4; }
.base0D { color: #7fa5bd; }
.base0E { color: #c79ec4; }
.base0F { color: #513333; }
.base10 { color: #31302e; }
.base11 { color: #181817; }
.base12 { color: #d78787; }
.base13 { color: #e4c9af; }
.base14 { color: #afbea2; }
.base15 { color: #b1e7dd; }
.base16 { color: #a1bdce; }
.base17 { color: #d7beda; }
