/* CLRS by Iterm2B24 */

.base00-background { background-color: #ffffff; }
.base01-background { background-color: #000000; }
.base02-background { background-color: #545753; }
.base03-background { background-color: #6b6d6a; }
.base04-background { background-color: #838482; }
.base05-background { background-color: #9a9b9a; }
.base06-background { background-color: #b2b2b2; }
.base07-background { background-color: #ededec; }
.base08-background { background-color: #f72729; }
.base09-background { background-color: #f96f1c; }
.base0A-background { background-color: #156ffe; }
.base0B-background { background-color: #32895c; }
.base0C-background { background-color: #32c2c0; }
.base0D-background { background-color: #125ccf; }
.base0E-background { background-color: #9f00bc; }
.base0F-background { background-color: #7b1314; }
.base10-background { background-color: #383a37; }
.base11-background { background-color: #1c1d1b; }
.base12-background { background-color: #fb0416; }
.base13-background { background-color: #fcd627; }
.base14-background { background-color: #2cc631; }
.base15-background { background-color: #39d5ce; }
.base16-background { background-color: #156ffe; }
.base17-background { background-color: #e800b0; }

.base00 { color: #ffffff; }
.base01 { color: #000000; }
.base02 { color: #545753; }
.base03 { color: #6b6d6a; }
.base04 { color: #838482; }
.base05 { color: #9a9b9a; }
.base06 { color: #b2b2b2; }
.base07 { color: #ededec; }
.base08 { color: #f72729; }
.base09 { color: #f96f1c; }
.base0A { color: #156ffe; }
.base0B { color: #32895c; }
.base0C { color: #32c2c0; }
.base0D { color: #125ccf; }
.base0E { color: #9f00bc; }
.base0F { color: #7b1314; }
.base10 { color: #383a37; }
.base11 { color: #1c1d1b; }
.base12 { color: #fb0416; }
.base13 { color: #fcd627; }
.base14 { color: #2cc631; }
.base15 { color: #39d5ce; }
.base16 { color: #156ffe; }
.base17 { color: #e800b0; }
