/* One Black by Base24 */

.base00-background { background-color: #000000; }
.base01-background { background-color: #000000; }
.base02-background { background-color: #4f5666; }
.base03-background { background-color: #545862; }
.base04-background { background-color: #9196a1; }
.base05-background { background-color: #abb2bf; }
.base06-background { background-color: #e6e6e6; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #e05561; }
.base09-background { background-color: #d18f52; }
.base0A-background { background-color: #e6b965; }
.base0B-background { background-color: #8cc265; }
.base0C-background { background-color: #42b3c2; }
.base0D-background { background-color: #4aa5f0; }
.base0E-background { background-color: #c162de; }
.base0F-background { background-color: #bf4034; }
.base10-background { background-color: #000000; }
.base11-background { background-color: #000000; }
.base12-background { background-color: #ff616e; }
.base13-background { background-color: #f0a45d; }
.base14-background { background-color: #a5e075; }
.base15-background { background-color: #4cd1e0; }
.base16-background { background-color: #4dc4ff; }
.base17-background { background-color: #de73ff; }

.base00 { color: #000000; }
.base01 { color: #000000; }
.base02 { color: #4f5666; }
.base03 { color: #545862; }
.base04 { color: #9196a1; }
.base05 { color: #abb2bf; }
.base06 { color: #e6e6e6; }
.base07 { color: #ffffff; }
.base08 { color: #e05561; }
.base09 { color: #d18f52; }
.base0A { color: #e6b965; }
.base0B { color: #8cc265; }
.base0C { color: #42b3c2; }
.base0D { color: #4aa5f0; }
.base0E { color: #c162de; }
.base0F { color: #bf4034; }
.base10 { color: #000000; }
.base11 { color: #000000; }
.base12 { color: #ff616e; }
.base13 { color: #f0a45d; }
.base14 { color: #a5e075; }
.base15 { color: #4cd1e0; }
.base16 { color: #4dc4ff; }
.base17 { color: #de73ff; }
