/* lovelace by Iterm2B24 */

.base00-background { background-color: #1d1f28; }
.base01-background { background-color: #282a36; }
.base02-background { background-color: #414458; }
.base03-background { background-color: #707281; }
.base04-background { background-color: #9fa0aa; }
.base05-background { background-color: #ceced3; }
.base06-background { background-color: #fdfdfd; }
.base07-background { background-color: #bebec1; }
.base08-background { background-color: #f37f97; }
.base09-background { background-color: #f2a272; }
.base0A-background { background-color: #556fff; }
.base0B-background { background-color: #5adecd; }
.base0C-background { background-color: #79e6f3; }
.base0D-background { background-color: #8897f4; }
.base0E-background { background-color: #c574dd; }
.base0F-background { background-color: #793f4b; }
.base10-background { background-color: #2b2d3a; }
.base11-background { background-color: #15161d; }
.base12-background { background-color: #ff4971; }
.base13-background { background-color: #ff8037; }
.base14-background { background-color: #18e3c8; }
.base15-background { background-color: #3fdcee; }
.base16-background { background-color: #556fff; }
.base17-background { background-color: #b043d1; }

.base00 { color: #1d1f28; }
.base01 { color: #282a36; }
.base02 { color: #414458; }
.base03 { color: #707281; }
.base04 { color: #9fa0aa; }
.base05 { color: #ceced3; }
.base06 { color: #fdfdfd; }
.base07 { color: #bebec1; }
.base08 { color: #f37f97; }
.base09 { color: #f2a272; }
.base0A { color: #556fff; }
.base0B { color: #5adecd; }
.base0C { color: #79e6f3; }
.base0D { color: #8897f4; }
.base0E { color: #c574dd; }
.base0F { color: #793f4b; }
.base10 { color: #2b2d3a; }
.base11 { color: #15161d; }
.base12 { color: #ff4971; }
.base13 { color: #ff8037; }
.base14 { color: #18e3c8; }
.base15 { color: #3fdcee; }
.base16 { color: #556fff; }
.base17 { color: #b043d1; }
