/* Highway by Iterm2B24 */

.base00-background { background-color: #212224; }
.base01-background { background-color: #000000; }
.base02-background { background-color: #5c4f49; }
.base03-background { background-color: #807672; }
.base04-background { background-color: #a49e9b; }
.base05-background { background-color: #c8c5c4; }
.base06-background { background-color: #ededed; }
.base07-background { background-color: #fefffe; }
.base08-background { background-color: #cf0d17; }
.base09-background { background-color: #ffca3d; }
.base0A-background { background-color: #4fc2fd; }
.base0B-background { background-color: #128033; }
.base0C-background { background-color: #384563; }
.base0D-background { background-color: #006ab3; }
.base0E-background { background-color: #6a2674; }
.base0F-background { background-color: #67060b; }
.base10-background { background-color: #3d3430; }
.base11-background { background-color: #1e1a18; }
.base12-background { background-color: #ef7d17; }
.base13-background { background-color: #fff11f; }
.base14-background { background-color: #b1d130; }
.base15-background { background-color: #5c4f49; }
.base16-background { background-color: #4fc2fd; }
.base17-background { background-color: #de0070; }

.base00 { color: #212224; }
.base01 { color: #000000; }
.base02 { color: #5c4f49; }
.base03 { color: #807672; }
.base04 { color: #a49e9b; }
.base05 { color: #c8c5c4; }
.base06 { color: #ededed; }
.base07 { color: #fefffe; }
.base08 { color: #cf0d17; }
.base09 { color: #ffca3d; }
.base0A { color: #4fc2fd; }
.base0B { color: #128033; }
.base0C { color: #384563; }
.base0D { color: #006ab3; }
.base0E { color: #6a2674; }
.base0F { color: #67060b; }
.base10 { color: #3d3430; }
.base11 { color: #1e1a18; }
.base12 { color: #ef7d17; }
.base13 { color: #fff11f; }
.base14 { color: #b1d130; }
.base15 { color: #5c4f49; }
.base16 { color: #4fc2fd; }
.base17 { color: #de0070; }
