/* Earthsong by Iterm2B24 */

.base00-background { background-color: #282420; }
.base01-background { background-color: #111417; }
.base02-background { background-color: #665e54; }
.base03-background { background-color: #857769; }
.base04-background { background-color: #a5917e; }
.base05-background { background-color: #c5ab93; }
.base06-background { background-color: #e5c5a9; }
.base07-background { background-color: #f6f6ec; }
.base08-background { background-color: #c84134; }
.base09-background { background-color: #f4ae2e; }
.base0A-background { background-color: #5ed9ff; }
.base0B-background { background-color: #84c44b; }
.base0C-background { background-color: #4f9452; }
.base0D-background { background-color: #1397b9; }
.base0E-background { background-color: #d0623c; }
.base0F-background { background-color: #64201a; }
.base10-background { background-color: #443e38; }
.base11-background { background-color: #221f1c; }
.base12-background { background-color: #ff6459; }
.base13-background { background-color: #dfd561; }
.base14-background { background-color: #97e035; }
.base15-background { background-color: #83ef88; }
.base16-background { background-color: #5ed9ff; }
.base17-background { background-color: #ff9168; }

.base00 { color: #282420; }
.base01 { color: #111417; }
.base02 { color: #665e54; }
.base03 { color: #857769; }
.base04 { color: #a5917e; }
.base05 { color: #c5ab93; }
.base06 { color: #e5c5a9; }
.base07 { color: #f6f6ec; }
.base08 { color: #c84134; }
.base09 { color: #f4ae2e; }
.base0A { color: #5ed9ff; }
.base0B { color: #84c44b; }
.base0C { color: #4f9452; }
.base0D { color: #1397b9; }
.base0E { color: #d0623c; }
.base0F { color: #64201a; }
.base10 { color: #443e38; }
.base11 { color: #221f1c; }
.base12 { color: #ff6459; }
.base13 { color: #dfd561; }
.base14 { color: #97e035; }
.base15 { color: #83ef88; }
.base16 { color: #5ed9ff; }
.base17 { color: #ff9168; }
