/* Monokai Vivid by Iterm2B24 */

.base00-background { background-color: #121212; }
.base01-background { background-color: #121212; }
.base02-background { background-color: #828282; }
.base03-background { background-color: #a1a1a1; }
.base04-background { background-color: #c0c0c0; }
.base05-background { background-color: #dfdfdf; }
.base06-background { background-color: #fffefe; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #fa2834; }
.base09-background { background-color: #fef20a; }
.base0A-background { background-color: #0442fe; }
.base0B-background { background-color: #97e123; }
.base0C-background { background-color: #01b6ed; }
.base0D-background { background-color: #0442fe; }
.base0E-background { background-color: #f800f8; }
.base0F-background { background-color: #7d141a; }
.base10-background { background-color: #565656; }
.base11-background { background-color: #2b2b2b; }
.base12-background { background-color: #f5669c; }
.base13-background { background-color: #fef26c; }
.base14-background { background-color: #b0e05e; }
.base15-background { background-color: #50cdfe; }
.base16-background { background-color: #0442fe; }
.base17-background { background-color: #f200f5; }

.base00 { color: #121212; }
.base01 { color: #121212; }
.base02 { color: #828282; }
.base03 { color: #a1a1a1; }
.base04 { color: #c0c0c0; }
.base05 { color: #dfdfdf; }
.base06 { color: #fffefe; }
.base07 { color: #ffffff; }
.base08 { color: #fa2834; }
.base09 { color: #fef20a; }
.base0A { color: #0442fe; }
.base0B { color: #97e123; }
.base0C { color: #01b6ed; }
.base0D { color: #0442fe; }
.base0E { color: #f800f8; }
.base0F { color: #7d141a; }
.base10 { color: #565656; }
.base11 { color: #2b2b2b; }
.base12 { color: #f5669c; }
.base13 { color: #fef26c; }
.base14 { color: #b0e05e; }
.base15 { color: #50cdfe; }
.base16 { color: #0442fe; }
.base17 { color: #f200f5; }
