/* ToyChest by Iterm2B24 */

.base00-background { background-color: #23364a; }
.base01-background { background-color: #2c3f57; }
.base02-background { background-color: #326889; }
.base03-background { background-color: #2f8288; }
.base04-background { background-color: #2b9c86; }
.base05-background { background-color: #27b684; }
.base06-background { background-color: #23d082; }
.base07-background { background-color: #d4d4d4; }
.base08-background { background-color: #be2d26; }
.base09-background { background-color: #da8e26; }
.base0A-background { background-color: #33a5d9; }
.base0B-background { background-color: #199171; }
.base0C-background { background-color: #35a08f; }
.base0D-background { background-color: #325d96; }
.base0E-background { background-color: #8a5ddb; }
.base0F-background { background-color: #5f1613; }
.base10-background { background-color: #21455b; }
.base11-background { background-color: #10222d; }
.base12-background { background-color: #dd5943; }
.base13-background { background-color: #e7d74b; }
.base14-background { background-color: #30cf7b; }
.base15-background { background-color: #41c3ad; }
.base16-background { background-color: #33a5d9; }
.base17-background { background-color: #ad6bdc; }

.base00 { color: #23364a; }
.base01 { color: #2c3f57; }
.base02 { color: #326889; }
.base03 { color: #2f8288; }
.base04 { color: #2b9c86; }
.base05 { color: #27b684; }
.base06 { color: #23d082; }
.base07 { color: #d4d4d4; }
.base08 { color: #be2d26; }
.base09 { color: #da8e26; }
.base0A { color: #33a5d9; }
.base0B { color: #199171; }
.base0C { color: #35a08f; }
.base0D { color: #325d96; }
.base0E { color: #8a5ddb; }
.base0F { color: #5f1613; }
.base10 { color: #21455b; }
.base11 { color: #10222d; }
.base12 { color: #dd5943; }
.base13 { color: #e7d74b; }
.base14 { color: #30cf7b; }
.base15 { color: #41c3ad; }
.base16 { color: #33a5d9; }
.base17 { color: #ad6bdc; }
