/* Breeze by Iterm2B24 */

.base00-background { background-color: #31363b; }
.base01-background { background-color: #31363b; }
.base02-background { background-color: #7f8c8d; }
.base03-background { background-color: #9ba5a6; }
.base04-background { background-color: #b7bebf; }
.base05-background { background-color: #d3d7d8; }
.base06-background { background-color: #eff0f1; }
.base07-background { background-color: #fcfcfc; }
.base08-background { background-color: #ed1515; }
.base09-background { background-color: #f67400; }
.base0A-background { background-color: #3daee9; }
.base0B-background { background-color: #11d116; }
.base0C-background { background-color: #1abc9c; }
.base0D-background { background-color: #1d99f3; }
.base0E-background { background-color: #9b59b6; }
.base0F-background { background-color: #760a0a; }
.base10-background { background-color: #545d5e; }
.base11-background { background-color: #2a2e2f; }
.base12-background { background-color: #c0392b; }
.base13-background { background-color: #fdbc4b; }
.base14-background { background-color: #1cdc9a; }
.base15-background { background-color: #16a085; }
.base16-background { background-color: #3daee9; }
.base17-background { background-color: #8e44ad; }

.base00 { color: #31363b; }
.base01 { color: #31363b; }
.base02 { color: #7f8c8d; }
.base03 { color: #9ba5a6; }
.base04 { color: #b7bebf; }
.base05 { color: #d3d7d8; }
.base06 { color: #eff0f1; }
.base07 { color: #fcfcfc; }
.base08 { color: #ed1515; }
.base09 { color: #f67400; }
.base0A { color: #3daee9; }
.base0B { color: #11d116; }
.base0C { color: #1abc9c; }
.base0D { color: #1d99f3; }
.base0E { color: #9b59b6; }
.base0F { color: #760a0a; }
.base10 { color: #545d5e; }
.base11 { color: #2a2e2f; }
.base12 { color: #c0392b; }
.base13 { color: #fdbc4b; }
.base14 { color: #1cdc9a; }
.base15 { color: #16a085; }
.base16 { color: #3daee9; }
.base17 { color: #8e44ad; }
