/* N0tch2k by Iterm2B24 */

.base00-background { background-color: #222222; }
.base01-background { background-color: #383838; }
.base02-background { background-color: #474747; }
.base03-background { background-color: #69635e; }
.base04-background { background-color: #8b7f75; }
.base05-background { background-color: #ad9b8c; }
.base06-background { background-color: #d0b8a3; }
.base07-background { background-color: #d8c8bb; }
.base08-background { background-color: #a95551; }
.base09-background { background-color: #a98051; }
.base0A-background { background-color: #98bd5e; }
.base0B-background { background-color: #666666; }
.base0C-background { background-color: #c9c9c9; }
.base0D-background { background-color: #657d3e; }
.base0E-background { background-color: #767676; }
.base0F-background { background-color: #542a28; }
.base10-background { background-color: #2f2f2f; }
.base11-background { background-color: #171717; }
.base12-background { background-color: #a97775; }
.base13-background { background-color: #a99175; }
.base14-background { background-color: #8c8c8c; }
.base15-background { background-color: #dcdcdc; }
.base16-background { background-color: #98bd5e; }
.base17-background { background-color: #a3a3a3; }

.base00 { color: #222222; }
.base01 { color: #383838; }
.base02 { color: #474747; }
.base03 { color: #69635e; }
.base04 { color: #8b7f75; }
.base05 { color: #ad9b8c; }
.base06 { color: #d0b8a3; }
.base07 { color: #d8c8bb; }
.base08 { color: #a95551; }
.base09 { color: #a98051; }
.base0A { color: #98bd5e; }
.base0B { color: #666666; }
.base0C { color: #c9c9c9; }
.base0D { color: #657d3e; }
.base0E { color: #767676; }
.base0F { color: #542a28; }
.base10 { color: #2f2f2f; }
.base11 { color: #171717; }
.base12 { color: #a97775; }
.base13 { color: #a99175; }
.base14 { color: #8c8c8c; }
.base15 { color: #dcdcdc; }
.base16 { color: #98bd5e; }
.base17 { color: #a3a3a3; }
