/* Molokai by Iterm2B24 */

.base00-background { background-color: #121212; }
.base01-background { background-color: #121212; }
.base02-background { background-color: #555555; }
.base03-background { background-color: #6e6e6e; }
.base04-background { background-color: #888888; }
.base05-background { background-color: #a1a1a1; }
.base06-background { background-color: #bbbbbb; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #fa2573; }
.base09-background { background-color: #dfd460; }
.base0A-background { background-color: #00afff; }
.base0B-background { background-color: #97e123; }
.base0C-background { background-color: #42a7cf; }
.base0D-background { background-color: #0f7fcf; }
.base0E-background { background-color: #8700ff; }
.base0F-background { background-color: #7d1239; }
.base10-background { background-color: #383838; }
.base11-background { background-color: #1c1c1c; }
.base12-background { background-color: #f5669c; }
.base13-background { background-color: #fef26c; }
.base14-background { background-color: #b0e05e; }
.base15-background { background-color: #50cdfe; }
.base16-background { background-color: #00afff; }
.base17-background { background-color: #af87ff; }

.base00 { color: #121212; }
.base01 { color: #121212; }
.base02 { color: #555555; }
.base03 { color: #6e6e6e; }
.base04 { color: #888888; }
.base05 { color: #a1a1a1; }
.base06 { color: #bbbbbb; }
.base07 { color: #ffffff; }
.base08 { color: #fa2573; }
.base09 { color: #dfd460; }
.base0A { color: #00afff; }
.base0B { color: #97e123; }
.base0C { color: #42a7cf; }
.base0D { color: #0f7fcf; }
.base0E { color: #8700ff; }
.base0F { color: #7d1239; }
.base10 { color: #383838; }
.base11 { color: #1c1c1c; }
.base12 { color: #f5669c; }
.base13 { color: #fef26c; }
.base14 { color: #b0e05e; }
.base15 { color: #50cdfe; }
.base16 { color: #00afff; }
.base17 { color: #af87ff; }
