/* Lavandula by Iterm2B24 */

.base00-background { background-color: #050014; }
.base01-background { background-color: #230045; }
.base02-background { background-color: #372c46; }
.base03-background { background-color: #463c53; }
.base04-background { background-color: #554d61; }
.base05-background { background-color: #645d6f; }
.base06-background { background-color: #736e7d; }
.base07-background { background-color: #8c91fa; }
.base08-background { background-color: #7c1525; }
.base09-background { background-color: #7f6f49; }
.base0A-background { background-color: #8e86df; }
.base0B-background { background-color: #337e6f; }
.base0C-background { background-color: #57767f; }
.base0D-background { background-color: #4f4a7f; }
.base0E-background { background-color: #593f7e; }
.base0F-background { background-color: #3e0a12; }
.base10-background { background-color: #241d2e; }
.base11-background { background-color: #120e17; }
.base12-background { background-color: #df5066; }
.base13-background { background-color: #e0c286; }
.base14-background { background-color: #52e0c4; }
.base15-background { background-color: #9ad3df; }
.base16-background { background-color: #8e86df; }
.base17-background { background-color: #a675df; }

.base00 { color: #050014; }
.base01 { color: #230045; }
.base02 { color: #372c46; }
.base03 { color: #463c53; }
.base04 { color: #554d61; }
.base05 { color: #645d6f; }
.base06 { color: #736e7d; }
.base07 { color: #8c91fa; }
.base08 { color: #7c1525; }
.base09 { color: #7f6f49; }
.base0A { color: #8e86df; }
.base0B { color: #337e6f; }
.base0C { color: #57767f; }
.base0D { color: #4f4a7f; }
.base0E { color: #593f7e; }
.base0F { color: #3e0a12; }
.base10 { color: #241d2e; }
.base11 { color: #120e17; }
.base12 { color: #df5066; }
.base13 { color: #e0c286; }
.base14 { color: #52e0c4; }
.base15 { color: #9ad3df; }
.base16 { color: #8e86df; }
.base17 { color: #a675df; }
