/* Seafoam Pastel by Iterm2B24 */

.base00-background { background-color: #243434; }
.base01-background { background-color: #757575; }
.base02-background { background-color: #8a8a8a; }
.base03-background { background-color: #9f9f9f; }
.base04-background { background-color: #b5b5b5; }
.base05-background { background-color: #cacaca; }
.base06-background { background-color: #e0e0e0; }
.base07-background { background-color: #e0e0e0; }
.base08-background { background-color: #825d4d; }
.base09-background { background-color: #ada16d; }
.base0A-background { background-color: #79c3cf; }
.base0B-background { background-color: #718c61; }
.base0C-background { background-color: #719393; }
.base0D-background { background-color: #4d7b82; }
.base0E-background { background-color: #8a7167; }
.base0F-background { background-color: #412e26; }
.base10-background { background-color: #5c5c5c; }
.base11-background { background-color: #2e2e2e; }
.base12-background { background-color: #cf9379; }
.base13-background { background-color: #fae79d; }
.base14-background { background-color: #98d9aa; }
.base15-background { background-color: #ade0e0; }
.base16-background { background-color: #79c3cf; }
.base17-background { background-color: #d6b2a1; }

.base00 { color: #243434; }
.base01 { color: #757575; }
.base02 { color: #8a8a8a; }
.base03 { color: #9f9f9f; }
.base04 { color: #b5b5b5; }
.base05 { color: #cacaca; }
.base06 { color: #e0e0e0; }
.base07 { color: #e0e0e0; }
.base08 { color: #825d4d; }
.base09 { color: #ada16d; }
.base0A { color: #79c3cf; }
.base0B { color: #718c61; }
.base0C { color: #719393; }
.base0D { color: #4d7b82; }
.base0E { color: #8a7167; }
.base0F { color: #412e26; }
.base10 { color: #5c5c5c; }
.base11 { color: #2e2e2e; }
.base12 { color: #cf9379; }
.base13 { color: #fae79d; }
.base14 { color: #98d9aa; }
.base15 { color: #ade0e0; }
.base16 { color: #79c3cf; }
.base17 { color: #d6b2a1; }
