/* NightLion v2 by Iterm2B24 */

.base00-background { background-color: #171717; }
.base01-background { background-color: #4c4c4c; }
.base02-background { background-color: #555555; }
.base03-background { background-color: #6e6e6e; }
.base04-background { background-color: #888888; }
.base05-background { background-color: #a1a1a1; }
.base06-background { background-color: #bbbbbb; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #bb0000; }
.base09-background { background-color: #f2f067; }
.base0A-background { background-color: #62cae7; }
.base0B-background { background-color: #03f622; }
.base0C-background { background-color: #00d9df; }
.base0D-background { background-color: #63d0f0; }
.base0E-background { background-color: #ce6fda; }
.base0F-background { background-color: #5d0000; }
.base10-background { background-color: #383838; }
.base11-background { background-color: #1c1c1c; }
.base12-background { background-color: #ff5555; }
.base13-background { background-color: #ffff55; }
.base14-background { background-color: #7df61c; }
.base15-background { background-color: #00ccd7; }
.base16-background { background-color: #62cae7; }
.base17-background { background-color: #ff9af5; }

.base00 { color: #171717; }
.base01 { color: #4c4c4c; }
.base02 { color: #555555; }
.base03 { color: #6e6e6e; }
.base04 { color: #888888; }
.base05 { color: #a1a1a1; }
.base06 { color: #bbbbbb; }
.base07 { color: #ffffff; }
.base08 { color: #bb0000; }
.base09 { color: #f2f067; }
.base0A { color: #62cae7; }
.base0B { color: #03f622; }
.base0C { color: #00d9df; }
.base0D { color: #63d0f0; }
.base0E { color: #ce6fda; }
.base0F { color: #5d0000; }
.base10 { color: #383838; }
.base11 { color: #1c1c1c; }
.base12 { color: #ff5555; }
.base13 { color: #ffff55; }
.base14 { color: #7df61c; }
.base15 { color: #00ccd7; }
.base16 { color: #62cae7; }
.base17 { color: #ff9af5; }
