/* BlulocoDark by Iterm2B24 */

.base00-background { background-color: #1e2027; }
.base01-background { background-color: #494f5c; }
.base02-background { background-color: #60697a; }
.base03-background { background-color: #7b8494; }
.base04-background { background-color: #969faf; }
.base05-background { background-color: #b1bac9; }
.base06-background { background-color: #ccd5e4; }
.base07-background { background-color: #fefefe; }
.base08-background { background-color: #f71041; }
.base09-background { background-color: #fc7e57; }
.base0A-background { background-color: #189ffd; }
.base0B-background { background-color: #23974a; }
.base0C-background { background-color: #366f99; }
.base0D-background { background-color: #285afe; }
.base0E-background { background-color: #8c62fd; }
.base0F-background { background-color: #7b0820; }
.base10-background { background-color: #404651; }
.base11-background { background-color: #202328; }
.base12-background { background-color: #fb496d; }
.base13-background { background-color: #f6bd47; }
.base14-background { background-color: #37bc58; }
.base15-background { background-color: #4fabad; }
.base16-background { background-color: #189ffd; }
.base17-background { background-color: #fb57f6; }

.base00 { color: #1e2027; }
.base01 { color: #494f5c; }
.base02 { color: #60697a; }
.base03 { color: #7b8494; }
.base04 { color: #969faf; }
.base05 { color: #b1bac9; }
.base06 { color: #ccd5e4; }
.base07 { color: #fefefe; }
.base08 { color: #f71041; }
.base09 { color: #fc7e57; }
.base0A { color: #189ffd; }
.base0B { color: #23974a; }
.base0C { color: #366f99; }
.base0D { color: #285afe; }
.base0E { color: #8c62fd; }
.base0F { color: #7b0820; }
.base10 { color: #404651; }
.base11 { color: #202328; }
.base12 { color: #fb496d; }
.base13 { color: #f6bd47; }
.base14 { color: #37bc58; }
.base15 { color: #4fabad; }
.base16 { color: #189ffd; }
.base17 { color: #fb57f6; }
