/* UltraViolent by Iterm2B24 */

.base00-background { background-color: #242728; }
.base01-background { background-color: #232628; }
.base02-background { background-color: #626566; }
.base03-background { background-color: #818484; }
.base04-background { background-color: #a1a3a3; }
.base05-background { background-color: #c1c2c2; }
.base06-background { background-color: #e1e1e1; }
.base07-background { background-color: #f9f9f4; }
.base08-background { background-color: #ff0090; }
.base09-background { background-color: #fff727; }
.base0A-background { background-color: #7febff; }
.base0B-background { background-color: #b5ff00; }
.base0C-background { background-color: #0effbb; }
.base0D-background { background-color: #47dffb; }
.base0E-background { background-color: #d630ff; }
.base0F-background { background-color: #7f0048; }
.base10-background { background-color: #414344; }
.base11-background { background-color: #202122; }
.base12-background { background-color: #fb57b4; }
.base13-background { background-color: #ebdf86; }
.base14-background { background-color: #deff8b; }
.base15-background { background-color: #68fcd2; }
.base16-background { background-color: #7febff; }
.base17-background { background-color: #e681ff; }

.base00 { color: #242728; }
.base01 { color: #232628; }
.base02 { color: #626566; }
.base03 { color: #818484; }
.base04 { color: #a1a3a3; }
.base05 { color: #c1c2c2; }
.base06 { color: #e1e1e1; }
.base07 { color: #f9f9f4; }
.base08 { color: #ff0090; }
.base09 { color: #fff727; }
.base0A { color: #7febff; }
.base0B { color: #b5ff00; }
.base0C { color: #0effbb; }
.base0D { color: #47dffb; }
.base0E { color: #d630ff; }
.base0F { color: #7f0048; }
.base10 { color: #414344; }
.base11 { color: #202122; }
.base12 { color: #fb57b4; }
.base13 { color: #ebdf86; }
.base14 { color: #deff8b; }
.base15 { color: #68fcd2; }
.base16 { color: #7febff; }
.base17 { color: #e681ff; }
