/* Solarized Dark - Patched by Iterm2B24 */

.base00-background { background-color: #001e26; }
.base01-background { background-color: #002731; }
.base02-background { background-color: #465a61; }
.base03-background { background-color: #6e7c7b; }
.base04-background { background-color: #979e96; }
.base05-background { background-color: #c0c0b0; }
.base06-background { background-color: #e9e2cb; }
.base07-background { background-color: #fcf4dc; }
.base08-background { background-color: #d01b24; }
.base09-background { background-color: #a57705; }
.base0A-background { background-color: #708183; }
.base0B-background { background-color: #728905; }
.base0C-background { background-color: #259185; }
.base0D-background { background-color: #2075c7; }
.base0E-background { background-color: #c61b6e; }
.base0F-background { background-color: #680d12; }
.base10-background { background-color: #2e3c40; }
.base11-background { background-color: #171e20; }
.base12-background { background-color: #bd3612; }
.base13-background { background-color: #52676f; }
.base14-background { background-color: #465a61; }
.base15-background { background-color: #81908f; }
.base16-background { background-color: #708183; }
.base17-background { background-color: #5856b9; }

.base00 { color: #001e26; }
.base01 { color: #002731; }
.base02 { color: #465a61; }
.base03 { color: #6e7c7b; }
.base04 { color: #979e96; }
.base05 { color: #c0c0b0; }
.base06 { color: #e9e2cb; }
.base07 { color: #fcf4dc; }
.base08 { color: #d01b24; }
.base09 { color: #a57705; }
.base0A { color: #708183; }
.base0B { color: #728905; }
.base0C { color: #259185; }
.base0D { color: #2075c7; }
.base0E { color: #c61b6e; }
.base0F { color: #680d12; }
.base10 { color: #2e3c40; }
.base11 { color: #171e20; }
.base12 { color: #bd3612; }
.base13 { color: #52676f; }
.base14 { color: #465a61; }
.base15 { color: #81908f; }
.base16 { color: #708183; }
.base17 { color: #5856b9; }
