/* Twilight by Iterm2B24 */

.base00-background { background-color: #141414; }
.base01-background { background-color: #141414; }
.base02-background { background-color: #262626; }
.base03-background { background-color: #5c5c51; }
.base04-background { background-color: #92927c; }
.base05-background { background-color: #c8c8a7; }
.base06-background { background-color: #feffd3; }
.base07-background { background-color: #feffd3; }
.base08-background { background-color: #c06c43; }
.base09-background { background-color: #c2a86c; }
.base0A-background { background-color: #5a5d61; }
.base0B-background { background-color: #afb979; }
.base0C-background { background-color: #778284; }
.base0D-background { background-color: #444649; }
.base0E-background { background-color: #b4be7b; }
.base0F-background { background-color: #603621; }
.base10-background { background-color: #191919; }
.base11-background { background-color: #0c0c0c; }
.base12-background { background-color: #dd7c4c; }
.base13-background { background-color: #e1c47d; }
.base14-background { background-color: #cbd88c; }
.base15-background { background-color: #8a989a; }
.base16-background { background-color: #5a5d61; }
.base17-background { background-color: #d0db8e; }

.base00 { color: #141414; }
.base01 { color: #141414; }
.base02 { color: #262626; }
.base03 { color: #5c5c51; }
.base04 { color: #92927c; }
.base05 { color: #c8c8a7; }
.base06 { color: #feffd3; }
.base07 { color: #feffd3; }
.base08 { color: #c06c43; }
.base09 { color: #c2a86c; }
.base0A { color: #5a5d61; }
.base0B { color: #afb979; }
.base0C { color: #778284; }
.base0D { color: #444649; }
.base0E { color: #b4be7b; }
.base0F { color: #603621; }
.base10 { color: #191919; }
.base11 { color: #0c0c0c; }
.base12 { color: #dd7c4c; }
.base13 { color: #e1c47d; }
.base14 { color: #cbd88c; }
.base15 { color: #8a989a; }
.base16 { color: #5a5d61; }
.base17 { color: #d0db8e; }
