/* idea by Iterm2B24 */

.base00-background { background-color: #202020; }
.base01-background { background-color: #acacac; }
.base02-background { background-color: #fffefe; }
.base03-background { background-color: #c5c5c5; }
.base04-background { background-color: #8b8b8b; }
.base05-background { background-color: #515151; }
.base06-background { background-color: #171717; }
.base07-background { background-color: #171717; }
.base08-background { background-color: #fb5255; }
.base09-background { background-color: #ccb343; }
.base0A-background { background-color: #6c9bed; }
.base0B-background { background-color: #98b61b; }
.base0C-background { background-color: #248886; }
.base0D-background { background-color: #437ee6; }
.base0E-background { background-color: #9d73b0; }
.base0F-background { background-color: #7d292a; }
.base10-background { background-color: #aaa9a9; }
.base11-background { background-color: #555454; }
.base12-background { background-color: #fc6f72; }
.base13-background { background-color: #ffff0a; }
.base14-background { background-color: #98b61b; }
.base15-background { background-color: #248886; }
.base16-background { background-color: #6c9bed; }
.base17-background { background-color: #fc7efe; }

.base00 { color: #202020; }
.base01 { color: #acacac; }
.base02 { color: #fffefe; }
.base03 { color: #c5c5c5; }
.base04 { color: #8b8b8b; }
.base05 { color: #515151; }
.base06 { color: #171717; }
.base07 { color: #171717; }
.base08 { color: #fb5255; }
.base09 { color: #ccb343; }
.base0A { color: #6c9bed; }
.base0B { color: #98b61b; }
.base0C { color: #248886; }
.base0D { color: #437ee6; }
.base0E { color: #9d73b0; }
.base0F { color: #7d292a; }
.base10 { color: #aaa9a9; }
.base11 { color: #555454; }
.base12 { color: #fc6f72; }
.base13 { color: #ffff0a; }
.base14 { color: #98b61b; }
.base15 { color: #248886; }
.base16 { color: #6c9bed; }
.base17 { color: #fc7efe; }
