/* Grape by Iterm2B24 */

.base00-background { background-color: #161423; }
.base01-background { background-color: #2d283e; }
.base02-background { background-color: #58506a; }
.base03-background { background-color: #696377; }
.base04-background { background-color: #7b7785; }
.base05-background { background-color: #8c8a92; }
.base06-background { background-color: #9e9ea0; }
.base07-background { background-color: #a188f7; }
.base08-background { background-color: #ec2160; }
.base09-background { background-color: #8ddc1f; }
.base0A-background { background-color: #a9bbeb; }
.base0B-background { background-color: #1fa91b; }
.base0C-background { background-color: #3added; }
.base0D-background { background-color: #487cf4; }
.base0E-background { background-color: #8c35c8; }
.base0F-background { background-color: #761030; }
.base10-background { background-color: #3a3546; }
.base11-background { background-color: #1d1a23; }
.base12-background { background-color: #f0719a; }
.base13-background { background-color: #b2dc87; }
.base14-background { background-color: #52a95d; }
.base15-background { background-color: #9ce3ea; }
.base16-background { background-color: #a9bbeb; }
.base17-background { background-color: #ac81c1; }

.base00 { color: #161423; }
.base01 { color: #2d283e; }
.base02 { color: #58506a; }
.base03 { color: #696377; }
.base04 { color: #7b7785; }
.base05 { color: #8c8a92; }
.base06 { color: #9e9ea0; }
.base07 { color: #a188f7; }
.base08 { color: #ec2160; }
.base09 { color: #8ddc1f; }
.base0A { color: #a9bbeb; }
.base0B { color: #1fa91b; }
.base0C { color: #3added; }
.base0D { color: #487cf4; }
.base0E { color: #8c35c8; }
.base0F { color: #761030; }
.base10 { color: #3a3546; }
.base11 { color: #1d1a23; }
.base12 { color: #f0719a; }
.base13 { color: #b2dc87; }
.base14 { color: #52a95d; }
.base15 { color: #9ce3ea; }
.base16 { color: #a9bbeb; }
.base17 { color: #ac81c1; }
