/* WildCherry by Iterm2B24 */

.base00-background { background-color: #1f1626; }
.base01-background { background-color: #000506; }
.base02-background { background-color: #009cc9; }
.base03-background { background-color: #3fb3ce; }
.base04-background { background-color: #7fcad3; }
.base05-background { background-color: #bfe1d8; }
.base06-background { background-color: #fff8dd; }
.base07-background { background-color: #e4838d; }
.base08-background { background-color: #d94085; }
.base09-background { background-color: #ffd16f; }
.base0A-background { background-color: #2f8bb9; }
.base0B-background { background-color: #2ab250; }
.base0C-background { background-color: #c1b8b7; }
.base0D-background { background-color: #883cdc; }
.base0E-background { background-color: #ececec; }
.base0F-background { background-color: #6c2042; }
.base10-background { background-color: #006886; }
.base11-background { background-color: #003443; }
.base12-background { background-color: #da6bab; }
.base13-background { background-color: #eac066; }
.base14-background { background-color: #f4dba5; }
.base15-background { background-color: #ff919d; }
.base16-background { background-color: #2f8bb9; }
.base17-background { background-color: #ae636b; }

.base00 { color: #1f1626; }
.base01 { color: #000506; }
.base02 { color: #009cc9; }
.base03 { color: #3fb3ce; }
.base04 { color: #7fcad3; }
.base05 { color: #bfe1d8; }
.base06 { color: #fff8dd; }
.base07 { color: #e4838d; }
.base08 { color: #d94085; }
.base09 { color: #ffd16f; }
.base0A { color: #2f8bb9; }
.base0B { color: #2ab250; }
.base0C { color: #c1b8b7; }
.base0D { color: #883cdc; }
.base0E { color: #ececec; }
.base0F { color: #6c2042; }
.base10 { color: #006886; }
.base11 { color: #003443; }
.base12 { color: #da6bab; }
.base13 { color: #eac066; }
.base14 { color: #f4dba5; }
.base15 { color: #ff919d; }
.base16 { color: #2f8bb9; }
.base17 { color: #ae636b; }
