/* 3024 Day by Iterm2B24 */

.base00-background { background-color: #f7f7f7; }
.base01-background { background-color: #090300; }
.base02-background { background-color: #5c5855; }
.base03-background { background-color: #6e6a68; }
.base04-background { background-color: #807d7b; }
.base05-background { background-color: #928f8e; }
.base06-background { background-color: #a5a2a2; }
.base07-background { background-color: #f7f7f7; }
.base08-background { background-color: #db2d20; }
.base09-background { background-color: #fded02; }
.base0A-background { background-color: #807d7c; }
.base0B-background { background-color: #01a252; }
.base0C-background { background-color: #b5e4f4; }
.base0D-background { background-color: #01a0e4; }
.base0E-background { background-color: #a16a94; }
.base0F-background { background-color: #6d1610; }
.base10-background { background-color: #3d3a38; }
.base11-background { background-color: #1e1d1c; }
.base12-background { background-color: #e8bbd0; }
.base13-background { background-color: #4a4543; }
.base14-background { background-color: #3a3432; }
.base15-background { background-color: #cdab53; }
.base16-background { background-color: #807d7c; }
.base17-background { background-color: #d6d5d4; }

.base00 { color: #f7f7f7; }
.base01 { color: #090300; }
.base02 { color: #5c5855; }
.base03 { color: #6e6a68; }
.base04 { color: #807d7b; }
.base05 { color: #928f8e; }
.base06 { color: #a5a2a2; }
.base07 { color: #f7f7f7; }
.base08 { color: #db2d20; }
.base09 { color: #fded02; }
.base0A { color: #807d7c; }
.base0B { color: #01a252; }
.base0C { color: #b5e4f4; }
.base0D { color: #01a0e4; }
.base0E { color: #a16a94; }
.base0F { color: #6d1610; }
.base10 { color: #3d3a38; }
.base11 { color: #1e1d1c; }
.base12 { color: #e8bbd0; }
.base13 { color: #4a4543; }
.base14 { color: #3a3432; }
.base15 { color: #cdab53; }
.base16 { color: #807d7c; }
.base17 { color: #d6d5d4; }
