/* Flat by Iterm2B24 */

.base00-background { background-color: #082845; }
.base01-background { background-color: #1d2845; }
.base02-background { background-color: #2e2e45; }
.base03-background { background-color: #444e5b; }
.base04-background { background-color: #68717b; }
.base05-background { background-color: #8c939a; }
.base06-background { background-color: #b0b6ba; }
.base07-background { background-color: #e7eced; }
.base08-background { background-color: #a82320; }
.base09-background { background-color: #e58d11; }
.base0A-background { background-color: #3c7dd2; }
.base0B-background { background-color: #2d9440; }
.base0C-background { background-color: #2c9370; }
.base0D-background { background-color: #3167ac; }
.base0E-background { background-color: #781aa0; }
.base0F-background { background-color: #541110; }
.base10-background { background-color: #002240; }
.base11-background { background-color: #001629; }
.base12-background { background-color: #d4312e; }
.base13-background { background-color: #e5be0c; }
.base14-background { background-color: #32a548; }
.base15-background { background-color: #35b387; }
.base16-background { background-color: #3c7dd2; }
.base17-background { background-color: #8230a7; }

.base00 { color: #082845; }
.base01 { color: #1d2845; }
.base02 { color: #2e2e45; }
.base03 { color: #444e5b; }
.base04 { color: #68717b; }
.base05 { color: #8c939a; }
.base06 { color: #b0b6ba; }
.base07 { color: #e7eced; }
.base08 { color: #a82320; }
.base09 { color: #e58d11; }
.base0A { color: #3c7dd2; }
.base0B { color: #2d9440; }
.base0C { color: #2c9370; }
.base0D { color: #3167ac; }
.base0E { color: #781aa0; }
.base0F { color: #541110; }
.base10 { color: #002240; }
.base11 { color: #001629; }
.base12 { color: #d4312e; }
.base13 { color: #e5be0c; }
.base14 { color: #32a548; }
.base15 { color: #35b387; }
.base16 { color: #3c7dd2; }
.base17 { color: #8230a7; }
