/* Batman by Iterm2B24 */

.base00-background { background-color: #1b1d1e; }
.base01-background { background-color: #1b1d1e; }
.base02-background { background-color: #505354; }
.base03-background { background-color: #6d6f6e; }
.base04-background { background-color: #8a8c89; }
.base05-background { background-color: #a7a8a3; }
.base06-background { background-color: #c5c5be; }
.base07-background { background-color: #dadad5; }
.base08-background { background-color: #e6db43; }
.base09-background { background-color: #f3fd21; }
.base0A-background { background-color: #909495; }
.base0B-background { background-color: #c8be46; }
.base0C-background { background-color: #615f5e; }
.base0D-background { background-color: #737074; }
.base0E-background { background-color: #737271; }
.base0F-background { background-color: #736d21; }
.base10-background { background-color: #353738; }
.base11-background { background-color: #1a1b1c; }
.base12-background { background-color: #fff68d; }
.base13-background { background-color: #feed6c; }
.base14-background { background-color: #fff27c; }
.base15-background { background-color: #a2a2a5; }
.base16-background { background-color: #909495; }
.base17-background { background-color: #9a999d; }

.base00 { color: #1b1d1e; }
.base01 { color: #1b1d1e; }
.base02 { color: #505354; }
.base03 { color: #6d6f6e; }
.base04 { color: #8a8c89; }
.base05 { color: #a7a8a3; }
.base06 { color: #c5c5be; }
.base07 { color: #dadad5; }
.base08 { color: #e6db43; }
.base09 { color: #f3fd21; }
.base0A { color: #909495; }
.base0B { color: #c8be46; }
.base0C { color: #615f5e; }
.base0D { color: #737074; }
.base0E { color: #737271; }
.base0F { color: #736d21; }
.base10 { color: #353738; }
.base11 { color: #1a1b1c; }
.base12 { color: #fff68d; }
.base13 { color: #feed6c; }
.base14 { color: #fff27c; }
.base15 { color: #a2a2a5; }
.base16 { color: #909495; }
.base17 { color: #9a999d; }
