/* Thayer Bright by Iterm2B24 */

.base00-background { background-color: #1b1d1e; }
.base01-background { background-color: #1b1d1e; }
.base02-background { background-color: #505354; }
.base03-background { background-color: #6f7170; }
.base04-background { background-color: #8e8f8d; }
.base05-background { background-color: #adada9; }
.base06-background { background-color: #ccccc6; }
.base07-background { background-color: #f8f8f2; }
.base08-background { background-color: #f92672; }
.base09-background { background-color: #f3fd21; }
.base0A-background { background-color: #3f78ff; }
.base0B-background { background-color: #4df740; }
.base0C-background { background-color: #37c8b4; }
.base0D-background { background-color: #2656d6; }
.base0E-background { background-color: #8c54fe; }
.base0F-background { background-color: #7c1339; }
.base10-background { background-color: #353738; }
.base11-background { background-color: #1a1b1c; }
.base12-background { background-color: #ff5995; }
.base13-background { background-color: #feed6c; }
.base14-background { background-color: #b6e354; }
.base15-background { background-color: #23ced4; }
.base16-background { background-color: #3f78ff; }
.base17-background { background-color: #9e6ffe; }

.base00 { color: #1b1d1e; }
.base01 { color: #1b1d1e; }
.base02 { color: #505354; }
.base03 { color: #6f7170; }
.base04 { color: #8e8f8d; }
.base05 { color: #adada9; }
.base06 { color: #ccccc6; }
.base07 { color: #f8f8f2; }
.base08 { color: #f92672; }
.base09 { color: #f3fd21; }
.base0A { color: #3f78ff; }
.base0B { color: #4df740; }
.base0C { color: #37c8b4; }
.base0D { color: #2656d6; }
.base0E { color: #8c54fe; }
.base0F { color: #7c1339; }
.base10 { color: #353738; }
.base11 { color: #1a1b1c; }
.base12 { color: #ff5995; }
.base13 { color: #feed6c; }
.base14 { color: #b6e354; }
.base15 { color: #23ced4; }
.base16 { color: #3f78ff; }
.base17 { color: #9e6ffe; }
