/* coffee_theme by Iterm2B24 */

.base00-background { background-color: #f5deb3; }
.base01-background { background-color: #000000; }
.base02-background { background-color: #676767; }
.base03-background { background-color: #7f7f7f; }
.base04-background { background-color: #979797; }
.base05-background { background-color: #afafaf; }
.base06-background { background-color: #c7c7c7; }
.base07-background { background-color: #feffff; }
.base08-background { background-color: #c91b00; }
.base09-background { background-color: #c7c400; }
.base0A-background { background-color: #6871ff; }
.base0B-background { background-color: #00c200; }
.base0C-background { background-color: #00c5c7; }
.base0D-background { background-color: #0225c7; }
.base0E-background { background-color: #c930c7; }
.base0F-background { background-color: #640d00; }
.base10-background { background-color: #444444; }
.base11-background { background-color: #222222; }
.base12-background { background-color: #ff6d67; }
.base13-background { background-color: #fefb67; }
.base14-background { background-color: #5ff967; }
.base15-background { background-color: #5ffdff; }
.base16-background { background-color: #6871ff; }
.base17-background { background-color: #ff76ff; }

.base00 { color: #f5deb3; }
.base01 { color: #000000; }
.base02 { color: #676767; }
.base03 { color: #7f7f7f; }
.base04 { color: #979797; }
.base05 { color: #afafaf; }
.base06 { color: #c7c7c7; }
.base07 { color: #feffff; }
.base08 { color: #c91b00; }
.base09 { color: #c7c400; }
.base0A { color: #6871ff; }
.base0B { color: #00c200; }
.base0C { color: #00c5c7; }
.base0D { color: #0225c7; }
.base0E { color: #c930c7; }
.base0F { color: #640d00; }
.base10 { color: #444444; }
.base11 { color: #222222; }
.base12 { color: #ff6d67; }
.base13 { color: #fefb67; }
.base14 { color: #5ff967; }
.base15 { color: #5ffdff; }
.base16 { color: #6871ff; }
.base17 { color: #ff76ff; }
