/* Medallion by Iterm2B24 */

.base00-background { background-color: #1d1808; }
.base01-background { background-color: #000000; }
.base02-background { background-color: #5e5118; }
.base03-background { background-color: #786d38; }
.base04-background { background-color: #938958; }
.base05-background { background-color: #aea578; }
.base06-background { background-color: #c9c199; }
.base07-background { background-color: #fed597; }
.base08-background { background-color: #b54c00; }
.base09-background { background-color: #d2bd25; }
.base0A-background { background-color: #abb8ff; }
.base0B-background { background-color: #7c8a16; }
.base0C-background { background-color: #906b25; }
.base0D-background { background-color: #606baf; }
.base0E-background { background-color: #8b5990; }
.base0F-background { background-color: #5a2600; }
.base10-background { background-color: #3e3610; }
.base11-background { background-color: #1f1b08; }
.base12-background { background-color: #ff9148; }
.base13-background { background-color: #ffe449; }
.base14-background { background-color: #b1c93a; }
.base15-background { background-color: #ffbb51; }
.base16-background { background-color: #abb8ff; }
.base17-background { background-color: #fe9fff; }

.base00 { color: #1d1808; }
.base01 { color: #000000; }
.base02 { color: #5e5118; }
.base03 { color: #786d38; }
.base04 { color: #938958; }
.base05 { color: #aea578; }
.base06 { color: #c9c199; }
.base07 { color: #fed597; }
.base08 { color: #b54c00; }
.base09 { color: #d2bd25; }
.base0A { color: #abb8ff; }
.base0B { color: #7c8a16; }
.base0C { color: #906b25; }
.base0D { color: #606baf; }
.base0E { color: #8b5990; }
.base0F { color: #5a2600; }
.base10 { color: #3e3610; }
.base11 { color: #1f1b08; }
.base12 { color: #ff9148; }
.base13 { color: #ffe449; }
.base14 { color: #b1c93a; }
.base15 { color: #ffbb51; }
.base16 { color: #abb8ff; }
.base17 { color: #fe9fff; }
