/* Hivacruz by Iterm2B24 */

.base00-background { background-color: #132537; }
.base01-background { background-color: #202746; }
.base02-background { background-color: #6b7394; }
.base03-background { background-color: #767d9c; }
.base04-background { background-color: #8188a4; }
.base05-background { background-color: #8c92ac; }
.base06-background { background-color: #979db4; }
.base07-background { background-color: #f5f7ff; }
.base08-background { background-color: #c94922; }
.base09-background { background-color: #c08b30; }
.base0A-background { background-color: #898ea4; }
.base0B-background { background-color: #ac9739; }
.base0C-background { background-color: #22a2c9; }
.base0D-background { background-color: #3d8fd1; }
.base0E-background { background-color: #6679cc; }
.base0F-background { background-color: #642411; }
.base10-background { background-color: #474c62; }
.base11-background { background-color: #232631; }
.base12-background { background-color: #c76b29; }
.base13-background { background-color: #5e6687; }
.base14-background { background-color: #73ad43; }
.base15-background { background-color: #9c637a; }
.base16-background { background-color: #898ea4; }
.base17-background { background-color: #dfe2f1; }

.base00 { color: #132537; }
.base01 { color: #202746; }
.base02 { color: #6b7394; }
.base03 { color: #767d9c; }
.base04 { color: #8188a4; }
.base05 { color: #8c92ac; }
.base06 { color: #979db4; }
.base07 { color: #f5f7ff; }
.base08 { color: #c94922; }
.base09 { color: #c08b30; }
.base0A { color: #898ea4; }
.base0B { color: #ac9739; }
.base0C { color: #22a2c9; }
.base0D { color: #3d8fd1; }
.base0E { color: #6679cc; }
.base0F { color: #642411; }
.base10 { color: #474c62; }
.base11 { color: #232631; }
.base12 { color: #c76b29; }
.base13 { color: #5e6687; }
.base14 { color: #73ad43; }
.base15 { color: #9c637a; }
.base16 { color: #898ea4; }
.base17 { color: #dfe2f1; }
