/* Ciapre by Iterm2B24 */

.base00-background { background-color: #181c27; }
.base01-background { background-color: #181818; }
.base02-background { background-color: #555555; }
.base03-background { background-color: #6b685f; }
.base04-background { background-color: #817c69; }
.base05-background { background-color: #978f73; }
.base06-background { background-color: #ada37e; }
.base07-background { background-color: #f3f3f3; }
.base08-background { background-color: #800009; }
.base09-background { background-color: #cc8a3e; }
.base0A-background { background-color: #2f97c6; }
.base0B-background { background-color: #48513b; }
.base0C-background { background-color: #5b4f4a; }
.base0D-background { background-color: #566d8c; }
.base0E-background { background-color: #724c7c; }
.base0F-background { background-color: #400004; }
.base10-background { background-color: #383838; }
.base11-background { background-color: #1c1c1c; }
.base12-background { background-color: #ab3834; }
.base13-background { background-color: #dcde7b; }
.base14-background { background-color: #a6a65d; }
.base15-background { background-color: #f3dab1; }
.base16-background { background-color: #2f97c6; }
.base17-background { background-color: #d33060; }

.base00 { color: #181c27; }
.base01 { color: #181818; }
.base02 { color: #555555; }
.base03 { color: #6b685f; }
.base04 { color: #817c69; }
.base05 { color: #978f73; }
.base06 { color: #ada37e; }
.base07 { color: #f3f3f3; }
.base08 { color: #800009; }
.base09 { color: #cc8a3e; }
.base0A { color: #2f97c6; }
.base0B { color: #48513b; }
.base0C { color: #5b4f4a; }
.base0D { color: #566d8c; }
.base0E { color: #724c7c; }
.base0F { color: #400004; }
.base10 { color: #383838; }
.base11 { color: #1c1c1c; }
.base12 { color: #ab3834; }
.base13 { color: #dcde7b; }
.base14 { color: #a6a65d; }
.base15 { color: #f3dab1; }
.base16 { color: #2f97c6; }
.base17 { color: #d33060; }
