/* WarmNeon by Iterm2B24 */

.base00-background { background-color: #3f3f3f; }
.base01-background { background-color: #000000; }
.base02-background { background-color: #fdfcfc; }
.base03-background { background-color: #f2ebe6; }
.base04-background { background-color: #e7dad0; }
.base05-background { background-color: #dcc9ba; }
.base06-background { background-color: #d0b8a3; }
.base07-background { background-color: #d8c8bb; }
.base08-background { background-color: #e24345; }
.base09-background { background-color: #dae145; }
.base0A-background { background-color: #7a90d5; }
.base0B-background { background-color: #38b139; }
.base0C-background { background-color: #29bad3; }
.base0D-background { background-color: #4260c5; }
.base0E-background { background-color: #f81ffb; }
.base0F-background { background-color: #712122; }
.base10-background { background-color: #a8a8a8; }
.base11-background { background-color: #545454; }
.base12-background { background-color: #e86f71; }
.base13-background { background-color: #ddd979; }
.base14-background { background-color: #9bc08f; }
.base15-background { background-color: #5ed1e4; }
.base16-background { background-color: #7a90d5; }
.base17-background { background-color: #f674b9; }

.base00 { color: #3f3f3f; }
.base01 { color: #000000; }
.base02 { color: #fdfcfc; }
.base03 { color: #f2ebe6; }
.base04 { color: #e7dad0; }
.base05 { color: #dcc9ba; }
.base06 { color: #d0b8a3; }
.base07 { color: #d8c8bb; }
.base08 { color: #e24345; }
.base09 { color: #dae145; }
.base0A { color: #7a90d5; }
.base0B { color: #38b139; }
.base0C { color: #29bad3; }
.base0D { color: #4260c5; }
.base0E { color: #f81ffb; }
.base0F { color: #712122; }
.base10 { color: #a8a8a8; }
.base11 { color: #545454; }
.base12 { color: #e86f71; }
.base13 { color: #ddd979; }
.base14 { color: #9bc08f; }
.base15 { color: #5ed1e4; }
.base16 { color: #7a90d5; }
.base17 { color: #f674b9; }
