/* Github by Base24 */

.base00-background { background-color: #f4f4f4; }
.base01-background { background-color: #3e3e3e; }
.base02-background { background-color: #666666; }
.base03-background { background-color: #8c8c8c; }
.base04-background { background-color: #b2b2b2; }
.base05-background { background-color: #d8d8d8; }
.base06-background { background-color: #ffffff; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #970b16; }
.base09-background { background-color: #f8eec7; }
.base0A-background { background-color: #2e6cba; }
.base0B-background { background-color: #07962a; }
.base0C-background { background-color: #89d1ec; }
.base0D-background { background-color: #003e8a; }
.base0E-background { background-color: #e94691; }
.base0F-background { background-color: #4b050b; }
.base10-background { background-color: #444444; }
.base11-background { background-color: #222222; }
.base12-background { background-color: #de0000; }
.base13-background { background-color: #f1d007; }
.base14-background { background-color: #87d5a2; }
.base15-background { background-color: #1cfafe; }
.base16-background { background-color: #2e6cba; }
.base17-background { background-color: #ffa29f; }

.base00 { color: #f4f4f4; }
.base01 { color: #3e3e3e; }
.base02 { color: #666666; }
.base03 { color: #8c8c8c; }
.base04 { color: #b2b2b2; }
.base05 { color: #d8d8d8; }
.base06 { color: #ffffff; }
.base07 { color: #ffffff; }
.base08 { color: #970b16; }
.base09 { color: #f8eec7; }
.base0A { color: #2e6cba; }
.base0B { color: #07962a; }
.base0C { color: #89d1ec; }
.base0D { color: #003e8a; }
.base0E { color: #e94691; }
.base0F { color: #4b050b; }
.base10 { color: #444444; }
.base11 { color: #222222; }
.base12 { color: #de0000; }
.base13 { color: #f1d007; }
.base14 { color: #87d5a2; }
.base15 { color: #1cfafe; }
.base16 { color: #2e6cba; }
.base17 { color: #ffa29f; }
