/* FishTank by Iterm2B24 */

.base00-background { background-color: #222436; }
.base01-background { background-color: #03063c; }
.base02-background { background-color: #6c5a30; }
.base03-background { background-color: #8c7f63; }
.base04-background { background-color: #aca496; }
.base05-background { background-color: #ccc9c9; }
.base06-background { background-color: #eceffc; }
.base07-background { background-color: #f6ffec; }
.base08-background { background-color: #c60049; }
.base09-background { background-color: #fdcd5e; }
.base0A-background { background-color: #b1bdf9; }
.base0B-background { background-color: #abf157; }
.base0C-background { background-color: #968662; }
.base0D-background { background-color: #525fb8; }
.base0E-background { background-color: #976f81; }
.base0F-background { background-color: #630024; }
.base10-background { background-color: #483c20; }
.base11-background { background-color: #241e10; }
.base12-background { background-color: #d94a8a; }
.base13-background { background-color: #fee6a8; }
.base14-background { background-color: #daffa8; }
.base15-background { background-color: #a4bc86; }
.base16-background { background-color: #b1bdf9; }
.base17-background { background-color: #fda4cc; }

.base00 { color: #222436; }
.base01 { color: #03063c; }
.base02 { color: #6c5a30; }
.base03 { color: #8c7f63; }
.base04 { color: #aca496; }
.base05 { color: #ccc9c9; }
.base06 { color: #eceffc; }
.base07 { color: #f6ffec; }
.base08 { color: #c60049; }
.base09 { color: #fdcd5e; }
.base0A { color: #b1bdf9; }
.base0B { color: #abf157; }
.base0C { color: #968662; }
.base0D { color: #525fb8; }
.base0E { color: #976f81; }
.base0F { color: #630024; }
.base10 { color: #483c20; }
.base11 { color: #241e10; }
.base12 { color: #d94a8a; }
.base13 { color: #fee6a8; }
.base14 { color: #daffa8; }
.base15 { color: #a4bc86; }
.base16 { color: #b1bdf9; }
.base17 { color: #fda4cc; }
