/* Hybrid by Iterm2B24 */

.base00-background { background-color: #161718; }
.base01-background { background-color: #2a2e33; }
.base02-background { background-color: #1d1e21; }
.base03-background { background-color: #434446; }
.base04-background { background-color: #696b6b; }
.base05-background { background-color: #8f9190; }
.base06-background { background-color: #b5b8b6; }
.base07-background { background-color: #5a6169; }
.base08-background { background-color: #b74d50; }
.base09-background { background-color: #e3b55e; }
.base0A-background { background-color: #4b6b88; }
.base0B-background { background-color: #b3be5a; }
.base0C-background { background-color: #7fbeb3; }
.base0D-background { background-color: #6d90b0; }
.base0E-background { background-color: #a07eab; }
.base0F-background { background-color: #5b2628; }
.base10-background { background-color: #131416; }
.base11-background { background-color: #090a0b; }
.base12-background { background-color: #8c2d32; }
.base13-background { background-color: #e5894f; }
.base14-background { background-color: #788331; }
.base15-background { background-color: #4d7b73; }
.base16-background { background-color: #4b6b88; }
.base17-background { background-color: #6e4f79; }

.base00 { color: #161718; }
.base01 { color: #2a2e33; }
.base02 { color: #1d1e21; }
.base03 { color: #434446; }
.base04 { color: #696b6b; }
.base05 { color: #8f9190; }
.base06 { color: #b5b8b6; }
.base07 { color: #5a6169; }
.base08 { color: #b74d50; }
.base09 { color: #e3b55e; }
.base0A { color: #4b6b88; }
.base0B { color: #b3be5a; }
.base0C { color: #7fbeb3; }
.base0D { color: #6d90b0; }
.base0E { color: #a07eab; }
.base0F { color: #5b2628; }
.base10 { color: #131416; }
.base11 { color: #090a0b; }
.base12 { color: #8c2d32; }
.base13 { color: #e5894f; }
.base14 { color: #788331; }
.base15 { color: #4d7b73; }
.base16 { color: #4b6b88; }
.base17 { color: #6e4f79; }
