/* Red Planet by Iterm2B24 */

.base00-background { background-color: #222222; }
.base01-background { background-color: #201f1f; }
.base02-background { background-color: #676767; }
.base03-background { background-color: #7b7773; }
.base04-background { background-color: #908880; }
.base05-background { background-color: #a4998c; }
.base06-background { background-color: #b9aa99; }
.base07-background { background-color: #d6bfb8; }
.base08-background { background-color: #8c3432; }
.base09-background { background-color: #e8bf6a; }
.base0A-background { background-color: #60827e; }
.base0B-background { background-color: #728271; }
.base0C-background { background-color: #5b8390; }
.base0D-background { background-color: #69809e; }
.base0E-background { background-color: #896492; }
.base0F-background { background-color: #461a19; }
.base10-background { background-color: #444444; }
.base11-background { background-color: #222222; }
.base12-background { background-color: #b55242; }
.base13-background { background-color: #ebeb91; }
.base14-background { background-color: #869985; }
.base15-background { background-color: #38add8; }
.base16-background { background-color: #60827e; }
.base17-background { background-color: #de4873; }

.base00 { color: #222222; }
.base01 { color: #201f1f; }
.base02 { color: #676767; }
.base03 { color: #7b7773; }
.base04 { color: #908880; }
.base05 { color: #a4998c; }
.base06 { color: #b9aa99; }
.base07 { color: #d6bfb8; }
.base08 { color: #8c3432; }
.base09 { color: #e8bf6a; }
.base0A { color: #60827e; }
.base0B { color: #728271; }
.base0C { color: #5b8390; }
.base0D { color: #69809e; }
.base0E { color: #896492; }
.base0F { color: #461a19; }
.base10 { color: #444444; }
.base11 { color: #222222; }
.base12 { color: #b55242; }
.base13 { color: #ebeb91; }
.base14 { color: #869985; }
.base15 { color: #38add8; }
.base16 { color: #60827e; }
.base17 { color: #de4873; }
