/* Laser by Iterm2B24 */

.base00-background { background-color: #030d18; }
.base01-background { background-color: #616161; }
.base02-background { background-color: #8e8e8e; }
.base03-background { background-color: #a6a6a6; }
.base04-background { background-color: #bfbfbf; }
.base05-background { background-color: #d8d8d8; }
.base06-background { background-color: #f1f1f1; }
.base07-background { background-color: #feffff; }
.base08-background { background-color: #ff8272; }
.base09-background { background-color: #09b4bd; }
.base0A-background { background-color: #f92883; }
.base0B-background { background-color: #b4fa72; }
.base0C-background { background-color: #d0d1fe; }
.base0D-background { background-color: #fed300; }
.base0E-background { background-color: #ff8ffd; }
.base0F-background { background-color: #7f4139; }
.base10-background { background-color: #5e5e5e; }
.base11-background { background-color: #2f2f2f; }
.base12-background { background-color: #ffc4bd; }
.base13-background { background-color: #fefdd5; }
.base14-background { background-color: #d6fcb9; }
.base15-background { background-color: #e5e6fe; }
.base16-background { background-color: #f92883; }
.base17-background { background-color: #ffb1fe; }

.base00 { color: #030d18; }
.base01 { color: #616161; }
.base02 { color: #8e8e8e; }
.base03 { color: #a6a6a6; }
.base04 { color: #bfbfbf; }
.base05 { color: #d8d8d8; }
.base06 { color: #f1f1f1; }
.base07 { color: #feffff; }
.base08 { color: #ff8272; }
.base09 { color: #09b4bd; }
.base0A { color: #f92883; }
.base0B { color: #b4fa72; }
.base0C { color: #d0d1fe; }
.base0D { color: #fed300; }
.base0E { color: #ff8ffd; }
.base0F { color: #7f4139; }
.base10 { color: #5e5e5e; }
.base11 { color: #2f2f2f; }
.base12 { color: #ffc4bd; }
.base13 { color: #fefdd5; }
.base14 { color: #d6fcb9; }
.base15 { color: #e5e6fe; }
.base16 { color: #f92883; }
.base17 { color: #ffb1fe; }
