/* Slate by Iterm2B24 */

.base00-background { background-color: #212121; }
.base01-background { background-color: #212121; }
.base02-background { background-color: #ffffff; }
.base03-background { background-color: #c0f1f8; }
.base04-background { background-color: #81e2f0; }
.base05-background { background-color: #42d3e8; }
.base06-background { background-color: #02c4e0; }
.base07-background { background-color: #e0e0e0; }
.base08-background { background-color: #e1a7bf; }
.base09-background { background-color: #c4c9bf; }
.base0A-background { background-color: #79afd2; }
.base0B-background { background-color: #80d778; }
.base0C-background { background-color: #14ab9c; }
.base0D-background { background-color: #254a49; }
.base0E-background { background-color: #a380d3; }
.base0F-background { background-color: #70535f; }
.base10-background { background-color: #aaaaaa; }
.base11-background { background-color: #555555; }
.base12-background { background-color: #ffccd8; }
.base13-background { background-color: #d0cbc9; }
.base14-background { background-color: #bdffa8; }
.base15-background { background-color: #8bdee0; }
.base16-background { background-color: #79afd2; }
.base17-background { background-color: #c4a7d8; }

.base00 { color: #212121; }
.base01 { color: #212121; }
.base02 { color: #ffffff; }
.base03 { color: #c0f1f8; }
.base04 { color: #81e2f0; }
.base05 { color: #42d3e8; }
.base06 { color: #02c4e0; }
.base07 { color: #e0e0e0; }
.base08 { color: #e1a7bf; }
.base09 { color: #c4c9bf; }
.base0A { color: #79afd2; }
.base0B { color: #80d778; }
.base0C { color: #14ab9c; }
.base0D { color: #254a49; }
.base0E { color: #a380d3; }
.base0F { color: #70535f; }
.base10 { color: #aaaaaa; }
.base11 { color: #555555; }
.base12 { color: #ffccd8; }
.base13 { color: #d0cbc9; }
.base14 { color: #bdffa8; }
.base15 { color: #8bdee0; }
.base16 { color: #79afd2; }
.base17 { color: #c4a7d8; }
