/* BlulocoLight by Iterm2B24 */

.base00-background { background-color: #f7f7f7; }
.base01-background { background-color: #cbccd4; }
.base02-background { background-color: #dddee8; }
.base03-background { background-color: #a6a7ae; }
.base04-background { background-color: #6f6f74; }
.base05-background { background-color: #38383a; }
.base06-background { background-color: #000000; }
.base07-background { background-color: #1c1d21; }
.base08-background { background-color: #c80d41; }
.base09-background { background-color: #d44d16; }
.base0A-background { background-color: #1085d9; }
.base0B-background { background-color: #208839; }
.base0C-background { background-color: #1e4d7a; }
.base0D-background { background-color: #1d44dd; }
.base0E-background { background-color: #6d1bed; }
.base0F-background { background-color: #640620; }
.base10-background { background-color: #93949a; }
.base11-background { background-color: #494a4d; }
.base12-background { background-color: #fb496d; }
.base13-background { background-color: #b79326; }
.base14-background { background-color: #34b253; }
.base15-background { background-color: #5a7fac; }
.base16-background { background-color: #1085d9; }
.base17-background { background-color: #c00cb2; }

.base00 { color: #f7f7f7; }
.base01 { color: #cbccd4; }
.base02 { color: #dddee8; }
.base03 { color: #a6a7ae; }
.base04 { color: #6f6f74; }
.base05 { color: #38383a; }
.base06 { color: #000000; }
.base07 { color: #1c1d21; }
.base08 { color: #c80d41; }
.base09 { color: #d44d16; }
.base0A { color: #1085d9; }
.base0B { color: #208839; }
.base0C { color: #1e4d7a; }
.base0D { color: #1d44dd; }
.base0E { color: #6d1bed; }
.base0F { color: #640620; }
.base10 { color: #93949a; }
.base11 { color: #494a4d; }
.base12 { color: #fb496d; }
.base13 { color: #b79326; }
.base14 { color: #34b253; }
.base15 { color: #5a7fac; }
.base16 { color: #1085d9; }
.base17 { color: #c00cb2; }
