/* Ollie by Iterm2B24 */

.base00-background { background-color: #212024; }
.base01-background { background-color: #000000; }
.base02-background { background-color: #5a3625; }
.base03-background { background-color: #664b46; }
.base04-background { background-color: #726168; }
.base05-background { background-color: #7e7789; }
.base06-background { background-color: #8a8dab; }
.base07-background { background-color: #5b6da7; }
.base08-background { background-color: #ab2e30; }
.base09-background { background-color: #ab4200; }
.base0A-background { background-color: #4487ff; }
.base0B-background { background-color: #31ab60; }
.base0C-background { background-color: #1fa5ab; }
.base0D-background { background-color: #2c56ab; }
.base0E-background { background-color: #af8427; }
.base0F-background { background-color: #551718; }
.base10-background { background-color: #3c2418; }
.base11-background { background-color: #1e120c; }
.base12-background { background-color: #ff3d48; }
.base13-background { background-color: #ff5e1e; }
.base14-background { background-color: #3bff99; }
.base15-background { background-color: #1efaff; }
.base16-background { background-color: #4487ff; }
.base17-background { background-color: #ffc21c; }

.base00 { color: #212024; }
.base01 { color: #000000; }
.base02 { color: #5a3625; }
.base03 { color: #664b46; }
.base04 { color: #726168; }
.base05 { color: #7e7789; }
.base06 { color: #8a8dab; }
.base07 { color: #5b6da7; }
.base08 { color: #ab2e30; }
.base09 { color: #ab4200; }
.base0A { color: #4487ff; }
.base0B { color: #31ab60; }
.base0C { color: #1fa5ab; }
.base0D { color: #2c56ab; }
.base0E { color: #af8427; }
.base0F { color: #551718; }
.base10 { color: #3c2418; }
.base11 { color: #1e120c; }
.base12 { color: #ff3d48; }
.base13 { color: #ff5e1e; }
.base14 { color: #3bff99; }
.base15 { color: #1efaff; }
.base16 { color: #4487ff; }
.base17 { color: #ffc21c; }
