/* Arthur by Iterm2B24 */

.base00-background { background-color: #1c1c1c; }
.base01-background { background-color: #3d352a; }
.base02-background { background-color: #554444; }
.base03-background { background-color: #6e5d59; }
.base04-background { background-color: #88776e; }
.base05-background { background-color: #a19083; }
.base06-background { background-color: #bbaa99; }
.base07-background { background-color: #ddccbb; }
.base08-background { background-color: #cd5c5c; }
.base09-background { background-color: #e8ae5b; }
.base0A-background { background-color: #87ceeb; }
.base0B-background { background-color: #86af80; }
.base0C-background { background-color: #b0c4de; }
.base0D-background { background-color: #6495ed; }
.base0E-background { background-color: #deb887; }
.base0F-background { background-color: #662e2e; }
.base10-background { background-color: #382d2d; }
.base11-background { background-color: #1c1616; }
.base12-background { background-color: #cc5533; }
.base13-background { background-color: #ffa75d; }
.base14-background { background-color: #88aa22; }
.base15-background { background-color: #b0c4de; }
.base16-background { background-color: #87ceeb; }
.base17-background { background-color: #996600; }

.base00 { color: #1c1c1c; }
.base01 { color: #3d352a; }
.base02 { color: #554444; }
.base03 { color: #6e5d59; }
.base04 { color: #88776e; }
.base05 { color: #a19083; }
.base06 { color: #bbaa99; }
.base07 { color: #ddccbb; }
.base08 { color: #cd5c5c; }
.base09 { color: #e8ae5b; }
.base0A { color: #87ceeb; }
.base0B { color: #86af80; }
.base0C { color: #b0c4de; }
.base0D { color: #6495ed; }
.base0E { color: #deb887; }
.base0F { color: #662e2e; }
.base10 { color: #382d2d; }
.base11 { color: #1c1616; }
.base12 { color: #cc5533; }
.base13 { color: #ffa75d; }
.base14 { color: #88aa22; }
.base15 { color: #b0c4de; }
.base16 { color: #87ceeb; }
.base17 { color: #996600; }
