/* SpaceGray Eighties by Iterm2B24 */

.base00-background { background-color: #212121; }
.base01-background { background-color: #15171c; }
.base02-background { background-color: #555555; }
.base03-background { background-color: #7b7a79; }
.base04-background { background-color: #a1a09e; }
.base05-background { background-color: #c7c6c2; }
.base06-background { background-color: #eeece7; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #ec5f67; }
.base09-background { background-color: #fdc253; }
.base0A-background { background-color: #4d83d0; }
.base0B-background { background-color: #80a763; }
.base0C-background { background-color: #57c2c0; }
.base0D-background { background-color: #5485c0; }
.base0E-background { background-color: #bf83c0; }
.base0F-background { background-color: #762f33; }
.base10-background { background-color: #383838; }
.base11-background { background-color: #1c1c1c; }
.base12-background { background-color: #ff6973; }
.base13-background { background-color: #ffd156; }
.base14-background { background-color: #93d393; }
.base15-background { background-color: #83e8e4; }
.base16-background { background-color: #4d83d0; }
.base17-background { background-color: #ff55ff; }

.base00 { color: #212121; }
.base01 { color: #15171c; }
.base02 { color: #555555; }
.base03 { color: #7b7a79; }
.base04 { color: #a1a09e; }
.base05 { color: #c7c6c2; }
.base06 { color: #eeece7; }
.base07 { color: #ffffff; }
.base08 { color: #ec5f67; }
.base09 { color: #fdc253; }
.base0A { color: #4d83d0; }
.base0B { color: #80a763; }
.base0C { color: #57c2c0; }
.base0D { color: #5485c0; }
.base0E { color: #bf83c0; }
.base0F { color: #762f33; }
.base10 { color: #383838; }
.base11 { color: #1c1c1c; }
.base12 { color: #ff6973; }
.base13 { color: #ffd156; }
.base14 { color: #93d393; }
.base15 { color: #83e8e4; }
.base16 { color: #4d83d0; }
.base17 { color: #ff55ff; }
