/* Royal by Iterm2B24 */

.base00-background { background-color: #100814; }
.base01-background { background-color: #241f2a; }
.base02-background { background-color: #312d3c; }
.base03-background { background-color: #393446; }
.base04-background { background-color: #413b50; }
.base05-background { background-color: #49425a; }
.base06-background { background-color: #514965; }
.base07-background { background-color: #9d8bbd; }
.base08-background { background-color: #90274b; }
.base09-background { background-color: #b49d27; }
.base0A-background { background-color: #8fb9f9; }
.base0B-background { background-color: #23801c; }
.base0C-background { background-color: #8aaabd; }
.base0D-background { background-color: #6480af; }
.base0E-background { background-color: #664d96; }
.base0F-background { background-color: #481325; }
.base10-background { background-color: #201e28; }
.base11-background { background-color: #100f14; }
.base12-background { background-color: #d4346c; }
.base13-background { background-color: #fde83a; }
.base14-background { background-color: #2cd845; }
.base15-background { background-color: #abd3eb; }
.base16-background { background-color: #8fb9f9; }
.base17-background { background-color: #a479e2; }

.base00 { color: #100814; }
.base01 { color: #241f2a; }
.base02 { color: #312d3c; }
.base03 { color: #393446; }
.base04 { color: #413b50; }
.base05 { color: #49425a; }
.base06 { color: #514965; }
.base07 { color: #9d8bbd; }
.base08 { color: #90274b; }
.base09 { color: #b49d27; }
.base0A { color: #8fb9f9; }
.base0B { color: #23801c; }
.base0C { color: #8aaabd; }
.base0D { color: #6480af; }
.base0E { color: #664d96; }
.base0F { color: #481325; }
.base10 { color: #201e28; }
.base11 { color: #100f14; }
.base12 { color: #d4346c; }
.base13 { color: #fde83a; }
.base14 { color: #2cd845; }
.base15 { color: #abd3eb; }
.base16 { color: #8fb9f9; }
.base17 { color: #a479e2; }
