/* Elemental by Iterm2B24 */

.base00-background { background-color: #21211c; }
.base01-background { background-color: #3c3b30; }
.base02-background { background-color: #545444; }
.base03-background { background-color: #5f5d50; }
.base04-background { background-color: #6a665c; }
.base05-background { background-color: #756f68; }
.base06-background { background-color: #807974; }
.base07-background { background-color: #fff1e8; }
.base08-background { background-color: #97280f; }
.base09-background { background-color: #7f7110; }
.base0A-background { background-color: #78d8d8; }
.base0B-background { background-color: #479942; }
.base0C-background { background-color: #387f58; }
.base0D-background { background-color: #497f7d; }
.base0E-background { background-color: #7e4e2e; }
.base0F-background { background-color: #4b1407; }
.base10-background { background-color: #38382d; }
.base11-background { background-color: #1c1c16; }
.base12-background { background-color: #df502a; }
.base13-background { background-color: #d69827; }
.base14-background { background-color: #60e06f; }
.base15-background { background-color: #58d598; }
.base16-background { background-color: #78d8d8; }
.base17-background { background-color: #cd7c53; }

.base00 { color: #21211c; }
.base01 { color: #3c3b30; }
.base02 { color: #545444; }
.base03 { color: #5f5d50; }
.base04 { color: #6a665c; }
.base05 { color: #756f68; }
.base06 { color: #807974; }
.base07 { color: #fff1e8; }
.base08 { color: #97280f; }
.base09 { color: #7f7110; }
.base0A { color: #78d8d8; }
.base0B { color: #479942; }
.base0C { color: #387f58; }
.base0D { color: #497f7d; }
.base0E { color: #7e4e2e; }
.base0F { color: #4b1407; }
.base10 { color: #38382d; }
.base11 { color: #1c1c16; }
.base12 { color: #df502a; }
.base13 { color: #d69827; }
.base14 { color: #60e06f; }
.base15 { color: #58d598; }
.base16 { color: #78d8d8; }
.base17 { color: #cd7c53; }
