/* Cyberdyne by Iterm2B24 */

.base00-background { background-color: #151144; }
.base01-background { background-color: #080808; }
.base02-background { background-color: #2d2d2d; }
.base03-background { background-color: #5e5e5e; }
.base04-background { background-color: #8f8f8f; }
.base05-background { background-color: #c0c0c0; }
.base06-background { background-color: #f1f1f1; }
.base07-background { background-color: #feffff; }
.base08-background { background-color: #ff8272; }
.base09-background { background-color: #d2a700; }
.base0A-background { background-color: #c1e3fe; }
.base0B-background { background-color: #00c172; }
.base0C-background { background-color: #6bffdc; }
.base0D-background { background-color: #0071cf; }
.base0E-background { background-color: #ff8ffd; }
.base0F-background { background-color: #7f4139; }
.base10-background { background-color: #1e1e1e; }
.base11-background { background-color: #0f0f0f; }
.base12-background { background-color: #ffc4bd; }
.base13-background { background-color: #fefdd5; }
.base14-background { background-color: #d6fcb9; }
.base15-background { background-color: #e5e6fe; }
.base16-background { background-color: #c1e3fe; }
.base17-background { background-color: #ffb1fe; }

.base00 { color: #151144; }
.base01 { color: #080808; }
.base02 { color: #2d2d2d; }
.base03 { color: #5e5e5e; }
.base04 { color: #8f8f8f; }
.base05 { color: #c0c0c0; }
.base06 { color: #f1f1f1; }
.base07 { color: #feffff; }
.base08 { color: #ff8272; }
.base09 { color: #d2a700; }
.base0A { color: #c1e3fe; }
.base0B { color: #00c172; }
.base0C { color: #6bffdc; }
.base0D { color: #0071cf; }
.base0E { color: #ff8ffd; }
.base0F { color: #7f4139; }
.base10 { color: #1e1e1e; }
.base11 { color: #0f0f0f; }
.base12 { color: #ffc4bd; }
.base13 { color: #fefdd5; }
.base14 { color: #d6fcb9; }
.base15 { color: #e5e6fe; }
.base16 { color: #c1e3fe; }
.base17 { color: #ffb1fe; }
