/* Vaughn by Iterm2B24 */

.base00-background { background-color: #25234e; }
.base01-background { background-color: #24234f; }
.base02-background { background-color: #709080; }
.base03-background { background-color: #709080; }
.base04-background { background-color: #709080; }
.base05-background { background-color: #709080; }
.base06-background { background-color: #709080; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #705050; }
.base09-background { background-color: #dfaf8f; }
.base0A-background { background-color: #5555ff; }
.base0B-background { background-color: #60b48a; }
.base0C-background { background-color: #8cd0d3; }
.base0D-background { background-color: #5555ff; }
.base0E-background { background-color: #f08cc3; }
.base0F-background { background-color: #382828; }
.base10-background { background-color: #4a6055; }
.base11-background { background-color: #25302a; }
.base12-background { background-color: #dca3a3; }
.base13-background { background-color: #f0dfaf; }
.base14-background { background-color: #60b48a; }
.base15-background { background-color: #93e0e3; }
.base16-background { background-color: #5555ff; }
.base17-background { background-color: #ec93d3; }

.base00 { color: #25234e; }
.base01 { color: #24234f; }
.base02 { color: #709080; }
.base03 { color: #709080; }
.base04 { color: #709080; }
.base05 { color: #709080; }
.base06 { color: #709080; }
.base07 { color: #ffffff; }
.base08 { color: #705050; }
.base09 { color: #dfaf8f; }
.base0A { color: #5555ff; }
.base0B { color: #60b48a; }
.base0C { color: #8cd0d3; }
.base0D { color: #5555ff; }
.base0E { color: #f08cc3; }
.base0F { color: #382828; }
.base10 { color: #4a6055; }
.base11 { color: #25302a; }
.base12 { color: #dca3a3; }
.base13 { color: #f0dfaf; }
.base14 { color: #60b48a; }
.base15 { color: #93e0e3; }
.base16 { color: #5555ff; }
.base17 { color: #ec93d3; }
