/* Spiderman by Iterm2B24 */

.base00-background { background-color: #1b1d1e; }
.base01-background { background-color: #1b1d1e; }
.base02-background { background-color: #505354; }
.base03-background { background-color: #7b7d7c; }
.base04-background { background-color: #a7a8a5; }
.base05-background { background-color: #d3d3cd; }
.base06-background { background-color: #fffef6; }
.base07-background { background-color: #fefff9; }
.base08-background { background-color: #e60712; }
.base09-background { background-color: #e24655; }
.base0A-background { background-color: #1d4fff; }
.base0B-background { background-color: #e22828; }
.base0C-background { background-color: #3255ff; }
.base0D-background { background-color: #2b3fff; }
.base0E-background { background-color: #2435db; }
.base0F-background { background-color: #730309; }
.base10-background { background-color: #353738; }
.base11-background { background-color: #1a1b1c; }
.base12-background { background-color: #ff0325; }
.base13-background { background-color: #fe3935; }
.base14-background { background-color: #ff3238; }
.base15-background { background-color: #6083ff; }
.base16-background { background-color: #1d4fff; }
.base17-background { background-color: #737bff; }

.base00 { color: #1b1d1e; }
.base01 { color: #1b1d1e; }
.base02 { color: #505354; }
.base03 { color: #7b7d7c; }
.base04 { color: #a7a8a5; }
.base05 { color: #d3d3cd; }
.base06 { color: #fffef6; }
.base07 { color: #fefff9; }
.base08 { color: #e60712; }
.base09 { color: #e24655; }
.base0A { color: #1d4fff; }
.base0B { color: #e22828; }
.base0C { color: #3255ff; }
.base0D { color: #2b3fff; }
.base0E { color: #2435db; }
.base0F { color: #730309; }
.base10 { color: #353738; }
.base11 { color: #1a1b1c; }
.base12 { color: #ff0325; }
.base13 { color: #fe3935; }
.base14 { color: #ff3238; }
.base15 { color: #6083ff; }
.base16 { color: #1d4fff; }
.base17 { color: #737bff; }
