/* BirdsOfParadise by Iterm2B24 */

.base00-background { background-color: #2a1e1d; }
.base01-background { background-color: #573d25; }
.base02-background { background-color: #9a6b49; }
.base03-background { background-color: #ab8664; }
.base04-background { background-color: #bca280; }
.base05-background { background-color: #cdbe9b; }
.base06-background { background-color: #dfdab7; }
.base07-background { background-color: #fff9d4; }
.base08-background { background-color: #be2d26; }
.base09-background { background-color: #e99c29; }
.base0A-background { background-color: #b8d3ed; }
.base0B-background { background-color: #6ba08a; }
.base0C-background { background-color: #74a5ac; }
.base0D-background { background-color: #5a86ac; }
.base0E-background { background-color: #ab80a6; }
.base0F-background { background-color: #5f1613; }
.base10-background { background-color: #664730; }
.base11-background { background-color: #332318; }
.base12-background { background-color: #e84526; }
.base13-background { background-color: #d0d04f; }
.base14-background { background-color: #94d7ba; }
.base15-background { background-color: #92ced6; }
.base16-background { background-color: #b8d3ed; }
.base17-background { background-color: #d09dca; }

.base00 { color: #2a1e1d; }
.base01 { color: #573d25; }
.base02 { color: #9a6b49; }
.base03 { color: #ab8664; }
.base04 { color: #bca280; }
.base05 { color: #cdbe9b; }
.base06 { color: #dfdab7; }
.base07 { color: #fff9d4; }
.base08 { color: #be2d26; }
.base09 { color: #e99c29; }
.base0A { color: #b8d3ed; }
.base0B { color: #6ba08a; }
.base0C { color: #74a5ac; }
.base0D { color: #5a86ac; }
.base0E { color: #ab80a6; }
.base0F { color: #5f1613; }
.base10 { color: #664730; }
.base11 { color: #332318; }
.base12 { color: #e84526; }
.base13 { color: #d0d04f; }
.base14 { color: #94d7ba; }
.base15 { color: #92ced6; }
.base16 { color: #b8d3ed; }
.base17 { color: #d09dca; }
