/* Urple by Iterm2B24 */

.base00-background { background-color: #1b1b23; }
.base01-background { background-color: #000000; }
.base02-background { background-color: #5c3125; }
.base03-background { background-color: #664342; }
.base04-background { background-color: #715560; }
.base05-background { background-color: #7c677e; }
.base06-background { background-color: #87799c; }
.base07-background { background-color: #bfa3ff; }
.base08-background { background-color: #af425b; }
.base09-background { background-color: #ac5b41; }
.base0A-background { background-color: #8579ed; }
.base0B-background { background-color: #37a315; }
.base0C-background { background-color: #808080; }
.base0D-background { background-color: #554d9a; }
.base0E-background { background-color: #6c3ba1; }
.base0F-background { background-color: #57212d; }
.base10-background { background-color: #3d2018; }
.base11-background { background-color: #1e100c; }
.base12-background { background-color: #ff6387; }
.base13-background { background-color: #f08061; }
.base14-background { background-color: #28e51f; }
.base15-background { background-color: #eaeaea; }
.base16-background { background-color: #8579ed; }
.base17-background { background-color: #a05dee; }

.base00 { color: #1b1b23; }
.base01 { color: #000000; }
.base02 { color: #5c3125; }
.base03 { color: #664342; }
.base04 { color: #715560; }
.base05 { color: #7c677e; }
.base06 { color: #87799c; }
.base07 { color: #bfa3ff; }
.base08 { color: #af425b; }
.base09 { color: #ac5b41; }
.base0A { color: #8579ed; }
.base0B { color: #37a315; }
.base0C { color: #808080; }
.base0D { color: #554d9a; }
.base0E { color: #6c3ba1; }
.base0F { color: #57212d; }
.base10 { color: #3d2018; }
.base11 { color: #1e100c; }
.base12 { color: #ff6387; }
.base13 { color: #f08061; }
.base14 { color: #28e51f; }
.base15 { color: #eaeaea; }
.base16 { color: #8579ed; }
.base17 { color: #a05dee; }
