/* IR_Black by Iterm2B24 */

.base00-background { background-color: #000000; }
.base01-background { background-color: #4f4f4f; }
.base02-background { background-color: #7b7b7b; }
.base03-background { background-color: #979797; }
.base04-background { background-color: #b4b4b4; }
.base05-background { background-color: #d1d0d1; }
.base06-background { background-color: #eeedee; }
.base07-background { background-color: #fefffe; }
.base08-background { background-color: #fa6c5f; }
.base09-background { background-color: #fffeb6; }
.base0A-background { background-color: #b5dcfe; }
.base0B-background { background-color: #a8fe60; }
.base0C-background { background-color: #c6c4fd; }
.base0D-background { background-color: #96cafd; }
.base0E-background { background-color: #fa72fc; }
.base0F-background { background-color: #7d362f; }
.base10-background { background-color: #525252; }
.base11-background { background-color: #292929; }
.base12-background { background-color: #fcb6af; }
.base13-background { background-color: #fffecc; }
.base14-background { background-color: #ceffab; }
.base15-background { background-color: #dfdffd; }
.base16-background { background-color: #b5dcfe; }
.base17-background { background-color: #fb9bfe; }

.base00 { color: #000000; }
.base01 { color: #4f4f4f; }
.base02 { color: #7b7b7b; }
.base03 { color: #979797; }
.base04 { color: #b4b4b4; }
.base05 { color: #d1d0d1; }
.base06 { color: #eeedee; }
.base07 { color: #fefffe; }
.base08 { color: #fa6c5f; }
.base09 { color: #fffeb6; }
.base0A { color: #b5dcfe; }
.base0B { color: #a8fe60; }
.base0C { color: #c6c4fd; }
.base0D { color: #96cafd; }
.base0E { color: #fa72fc; }
.base0F { color: #7d362f; }
.base10 { color: #525252; }
.base11 { color: #292929; }
.base12 { color: #fcb6af; }
.base13 { color: #fffecc; }
.base14 { color: #ceffab; }
.base15 { color: #dfdffd; }
.base16 { color: #b5dcfe; }
.base17 { color: #fb9bfe; }
