/* Shaman by Iterm2B24 */

.base00-background { background-color: #001014; }
.base01-background { background-color: #012026; }
.base02-background { background-color: #374350; }
.base03-background { background-color: #394751; }
.base04-background { background-color: #3b4c52; }
.base05-background { background-color: #3d5053; }
.base06-background { background-color: #405554; }
.base07-background { background-color: #58fad6; }
.base08-background { background-color: #b12f2c; }
.base09-background { background-color: #5d8aa9; }
.base0A-background { background-color: #61d4b9; }
.base0B-background { background-color: #00a940; }
.base0C-background { background-color: #5c7e19; }
.base0D-background { background-color: #449985; }
.base0E-background { background-color: #00599c; }
.base0F-background { background-color: #581716; }
.base10-background { background-color: #242c35; }
.base11-background { background-color: #12161a; }
.base12-background { background-color: #ff4242; }
.base13-background { background-color: #8dd3fd; }
.base14-background { background-color: #2aea5e; }
.base15-background { background-color: #98cf28; }
.base16-background { background-color: #61d4b9; }
.base17-background { background-color: #1298ff; }

.base00 { color: #001014; }
.base01 { color: #012026; }
.base02 { color: #374350; }
.base03 { color: #394751; }
.base04 { color: #3b4c52; }
.base05 { color: #3d5053; }
.base06 { color: #405554; }
.base07 { color: #58fad6; }
.base08 { color: #b12f2c; }
.base09 { color: #5d8aa9; }
.base0A { color: #61d4b9; }
.base0B { color: #00a940; }
.base0C { color: #5c7e19; }
.base0D { color: #449985; }
.base0E { color: #00599c; }
.base0F { color: #581716; }
.base10 { color: #242c35; }
.base11 { color: #12161a; }
.base12 { color: #ff4242; }
.base13 { color: #8dd3fd; }
.base14 { color: #2aea5e; }
.base15 { color: #98cf28; }
.base16 { color: #61d4b9; }
.base17 { color: #1298ff; }
