/* Framer by Base24 */

.base00-background { background-color: #111111; }
.base01-background { background-color: #141414; }
.base02-background { background-color: #414141; }
.base03-background { background-color: #636363; }
.base04-background { background-color: #868686; }
.base05-background { background-color: #a9a9a9; }
.base06-background { background-color: #cccccc; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #ff5555; }
.base09-background { background-color: #ffcc33; }
.base0A-background { background-color: #33bbff; }
.base0B-background { background-color: #98ec65; }
.base0C-background { background-color: #88ddff; }
.base0D-background { background-color: #00aaff; }
.base0E-background { background-color: #aa88ff; }
.base0F-background { background-color: #7f2a2a; }
.base10-background { background-color: #2b2b2b; }
.base11-background { background-color: #151515; }
.base12-background { background-color: #ff8888; }
.base13-background { background-color: #ffd966; }
.base14-background { background-color: #b6f292; }
.base15-background { background-color: #bbecff; }
.base16-background { background-color: #33bbff; }
.base17-background { background-color: #cebbff; }

.base00 { color: #111111; }
.base01 { color: #141414; }
.base02 { color: #414141; }
.base03 { color: #636363; }
.base04 { color: #868686; }
.base05 { color: #a9a9a9; }
.base06 { color: #cccccc; }
.base07 { color: #ffffff; }
.base08 { color: #ff5555; }
.base09 { color: #ffcc33; }
.base0A { color: #33bbff; }
.base0B { color: #98ec65; }
.base0C { color: #88ddff; }
.base0D { color: #00aaff; }
.base0E { color: #aa88ff; }
.base0F { color: #7f2a2a; }
.base10 { color: #2b2b2b; }
.base11 { color: #151515; }
.base12 { color: #ff8888; }
.base13 { color: #ffd966; }
.base14 { color: #b6f292; }
.base15 { color: #bbecff; }
.base16 { color: #33bbff; }
.base17 { color: #cebbff; }
