/* VibrantInk by Iterm2B24 */

.base00-background { background-color: #000000; }
.base01-background { background-color: #878787; }
.base02-background { background-color: #555555; }
.base03-background { background-color: #7d7d7d; }
.base04-background { background-color: #a5a5a5; }
.base05-background { background-color: #cdcdcd; }
.base06-background { background-color: #f5f5f5; }
.base07-background { background-color: #e5e5e5; }
.base08-background { background-color: #ff6600; }
.base09-background { background-color: #ffcc00; }
.base0A-background { background-color: #0000ff; }
.base0B-background { background-color: #ccff04; }
.base0C-background { background-color: #44b3cc; }
.base0D-background { background-color: #44b3cc; }
.base0E-background { background-color: #9933cc; }
.base0F-background { background-color: #7f3300; }
.base10-background { background-color: #383838; }
.base11-background { background-color: #1c1c1c; }
.base12-background { background-color: #ff0000; }
.base13-background { background-color: #ffff00; }
.base14-background { background-color: #00ff00; }
.base15-background { background-color: #00ffff; }
.base16-background { background-color: #0000ff; }
.base17-background { background-color: #ff00ff; }

.base00 { color: #000000; }
.base01 { color: #878787; }
.base02 { color: #555555; }
.base03 { color: #7d7d7d; }
.base04 { color: #a5a5a5; }
.base05 { color: #cdcdcd; }
.base06 { color: #f5f5f5; }
.base07 { color: #e5e5e5; }
.base08 { color: #ff6600; }
.base09 { color: #ffcc00; }
.base0A { color: #0000ff; }
.base0B { color: #ccff04; }
.base0C { color: #44b3cc; }
.base0D { color: #44b3cc; }
.base0E { color: #9933cc; }
.base0F { color: #7f3300; }
.base10 { color: #383838; }
.base11 { color: #1c1c1c; }
.base12 { color: #ff0000; }
.base13 { color: #ffff00; }
.base14 { color: #00ff00; }
.base15 { color: #00ffff; }
.base16 { color: #0000ff; }
.base17 { color: #ff00ff; }
