/* ayu by Iterm2B24 */

.base00-background { background-color: #0f1419; }
.base01-background { background-color: #000000; }
.base02-background { background-color: #323232; }
.base03-background { background-color: #656565; }
.base04-background { background-color: #989898; }
.base05-background { background-color: #cbcbcb; }
.base06-background { background-color: #ffffff; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #ff3333; }
.base09-background { background-color: #e7c547; }
.base0A-background { background-color: #68d5ff; }
.base0B-background { background-color: #b8cc52; }
.base0C-background { background-color: #95e6cb; }
.base0D-background { background-color: #36a3d9; }
.base0E-background { background-color: #f07178; }
.base0F-background { background-color: #7f1919; }
.base10-background { background-color: #212121; }
.base11-background { background-color: #101010; }
.base12-background { background-color: #ff6565; }
.base13-background { background-color: #fff779; }
.base14-background { background-color: #eafe84; }
.base15-background { background-color: #c7fffd; }
.base16-background { background-color: #68d5ff; }
.base17-background { background-color: #ffa3aa; }

.base00 { color: #0f1419; }
.base01 { color: #000000; }
.base02 { color: #323232; }
.base03 { color: #656565; }
.base04 { color: #989898; }
.base05 { color: #cbcbcb; }
.base06 { color: #ffffff; }
.base07 { color: #ffffff; }
.base08 { color: #ff3333; }
.base09 { color: #e7c547; }
.base0A { color: #68d5ff; }
.base0B { color: #b8cc52; }
.base0C { color: #95e6cb; }
.base0D { color: #36a3d9; }
.base0E { color: #f07178; }
.base0F { color: #7f1919; }
.base10 { color: #212121; }
.base11 { color: #101010; }
.base12 { color: #ff6565; }
.base13 { color: #fff779; }
.base14 { color: #eafe84; }
.base15 { color: #c7fffd; }
.base16 { color: #68d5ff; }
.base17 { color: #ffa3aa; }
