/* Gruvbox Dark by Iterm2B24 */

.base00-background { background-color: #1d1d1d; }
.base01-background { background-color: #1d1d1d; }
.base02-background { background-color: #7f7060; }
.base03-background { background-color: #857564; }
.base04-background { background-color: #8b7b68; }
.base05-background { background-color: #91816c; }
.base06-background { background-color: #978771; }
.base07-background { background-color: #e5d3a2; }
.base08-background { background-color: #be0e17; }
.base09-background { background-color: #cc871a; }
.base0A-background { background-color: #709585; }
.base0B-background { background-color: #868715; }
.base0C-background { background-color: #568d57; }
.base0D-background { background-color: #377274; }
.base0E-background { background-color: #9f4b73; }
.base0F-background { background-color: #5f070b; }
.base10-background { background-color: #544a40; }
.base11-background { background-color: #2a2520; }
.base12-background { background-color: #f63028; }
.base13-background { background-color: #f7b024; }
.base14-background { background-color: #a9b01d; }
.base15-background { background-color: #7db568; }
.base16-background { background-color: #709585; }
.base17-background { background-color: #c76f89; }

.base00 { color: #1d1d1d; }
.base01 { color: #1d1d1d; }
.base02 { color: #7f7060; }
.base03 { color: #857564; }
.base04 { color: #8b7b68; }
.base05 { color: #91816c; }
.base06 { color: #978771; }
.base07 { color: #e5d3a2; }
.base08 { color: #be0e17; }
.base09 { color: #cc871a; }
.base0A { color: #709585; }
.base0B { color: #868715; }
.base0C { color: #568d57; }
.base0D { color: #377274; }
.base0E { color: #9f4b73; }
.base0F { color: #5f070b; }
.base10 { color: #544a40; }
.base11 { color: #2a2520; }
.base12 { color: #f63028; }
.base13 { color: #f7b024; }
.base14 { color: #a9b01d; }
.base15 { color: #7db568; }
.base16 { color: #709585; }
.base17 { color: #c76f89; }
