/* FrontEndDelight by Iterm2B24 */

.base00-background { background-color: #1b1b1d; }
.base01-background { background-color: #242426; }
.base02-background { background-color: #5eac6c; }
.base03-background { background-color: #71ac7c; }
.base04-background { background-color: #85ac8c; }
.base05-background { background-color: #98ac9c; }
.base06-background { background-color: #acacac; }
.base07-background { background-color: #8b735a; }
.base08-background { background-color: #f8501a; }
.base09-background { background-color: #f9761d; }
.base0A-background { background-color: #3393c9; }
.base0B-background { background-color: #565746; }
.base0C-background { background-color: #3ba0a5; }
.base0D-background { background-color: #2c70b7; }
.base0E-background { background-color: #f02d4e; }
.base0F-background { background-color: #7c280d; }
.base10-background { background-color: #3e7248; }
.base11-background { background-color: #1f3924; }
.base12-background { background-color: #f64319; }
.base13-background { background-color: #fcc224; }
.base14-background { background-color: #74eb4c; }
.base15-background { background-color: #4ebce5; }
.base16-background { background-color: #3393c9; }
.base17-background { background-color: #e75e4e; }

.base00 { color: #1b1b1d; }
.base01 { color: #242426; }
.base02 { color: #5eac6c; }
.base03 { color: #71ac7c; }
.base04 { color: #85ac8c; }
.base05 { color: #98ac9c; }
.base06 { color: #acacac; }
.base07 { color: #8b735a; }
.base08 { color: #f8501a; }
.base09 { color: #f9761d; }
.base0A { color: #3393c9; }
.base0B { color: #565746; }
.base0C { color: #3ba0a5; }
.base0D { color: #2c70b7; }
.base0E { color: #f02d4e; }
.base0F { color: #7c280d; }
.base10 { color: #3e7248; }
.base11 { color: #1f3924; }
.base12 { color: #f64319; }
.base13 { color: #fcc224; }
.base14 { color: #74eb4c; }
.base15 { color: #4ebce5; }
.base16 { color: #3393c9; }
.base17 { color: #e75e4e; }
