/* DimmedMonokai by Iterm2B24 */

.base00-background { background-color: #1e1e1e; }
.base01-background { background-color: #3a3c43; }
.base02-background { background-color: #888987; }
.base03-background { background-color: #949593; }
.base04-background { background-color: #a0a2a0; }
.base05-background { background-color: #acafac; }
.base06-background { background-color: #b8bcb9; }
.base07-background { background-color: #fcffb8; }
.base08-background { background-color: #be3e48; }
.base09-background { background-color: #c4a535; }
.base0A-background { background-color: #176ce3; }
.base0B-background { background-color: #869a3a; }
.base0C-background { background-color: #568ea3; }
.base0D-background { background-color: #4e76a1; }
.base0E-background { background-color: #855b8d; }
.base0F-background { background-color: #5f1f24; }
.base10-background { background-color: #5a5b5a; }
.base11-background { background-color: #2d2d2d; }
.base12-background { background-color: #fb001e; }
.base13-background { background-color: #c37033; }
.base14-background { background-color: #0e712e; }
.base15-background { background-color: #2d6f6c; }
.base16-background { background-color: #176ce3; }
.base17-background { background-color: #fb0067; }

.base00 { color: #1e1e1e; }
.base01 { color: #3a3c43; }
.base02 { color: #888987; }
.base03 { color: #949593; }
.base04 { color: #a0a2a0; }
.base05 { color: #acafac; }
.base06 { color: #b8bcb9; }
.base07 { color: #fcffb8; }
.base08 { color: #be3e48; }
.base09 { color: #c4a535; }
.base0A { color: #176ce3; }
.base0B { color: #869a3a; }
.base0C { color: #568ea3; }
.base0D { color: #4e76a1; }
.base0E { color: #855b8d; }
.base0F { color: #5f1f24; }
.base10 { color: #5a5b5a; }
.base11 { color: #2d2d2d; }
.base12 { color: #fb001e; }
.base13 { color: #c37033; }
.base14 { color: #0e712e; }
.base15 { color: #2d6f6c; }
.base16 { color: #176ce3; }
.base17 { color: #fb0067; }
