/* BlueBerryPie by Iterm2B24 */

.base00-background { background-color: #1c0b28; }
.base01-background { background-color: #0a4b61; }
.base02-background { background-color: #1f1637; }
.base03-background { background-color: #534a5e; }
.base04-background { background-color: #877e86; }
.base05-background { background-color: #bbb2ad; }
.base06-background { background-color: #f0e7d5; }
.base07-background { background-color: #0a6b7e; }
.base08-background { background-color: #99236d; }
.base09-background { background-color: #e9b8a7; }
.base0A-background { background-color: #38163d; }
.base0B-background { background-color: #5bb0b2; }
.base0C-background { background-color: #7e82cc; }
.base0D-background { background-color: #90a5bc; }
.base0E-background { background-color: #9d53a7; }
.base0F-background { background-color: #4c1136; }
.base10-background { background-color: #140e24; }
.base11-background { background-color: #0a0712; }
.base12-background { background-color: #c77171; }
.base13-background { background-color: #793188; }
.base14-background { background-color: #0a6b7e; }
.base15-background { background-color: #5d5f71; }
.base16-background { background-color: #38163d; }
.base17-background { background-color: #bc93b6; }

.base00 { color: #1c0b28; }
.base01 { color: #0a4b61; }
.base02 { color: #1f1637; }
.base03 { color: #534a5e; }
.base04 { color: #877e86; }
.base05 { color: #bbb2ad; }
.base06 { color: #f0e7d5; }
.base07 { color: #0a6b7e; }
.base08 { color: #99236d; }
.base09 { color: #e9b8a7; }
.base0A { color: #38163d; }
.base0B { color: #5bb0b2; }
.base0C { color: #7e82cc; }
.base0D { color: #90a5bc; }
.base0E { color: #9d53a7; }
.base0F { color: #4c1136; }
.base10 { color: #140e24; }
.base11 { color: #0a0712; }
.base12 { color: #c77171; }
.base13 { color: #793188; }
.base14 { color: #0a6b7e; }
.base15 { color: #5d5f71; }
.base16 { color: #38163d; }
.base17 { color: #bc93b6; }
