/* Fideloper by Iterm2B24 */

.base00-background { background-color: #282f32; }
.base01-background { background-color: #282f32; }
.base02-background { background-color: #092027; }
.base03-background { background-color: #415050; }
.base04-background { background-color: #79817a; }
.base05-background { background-color: #b1b1a3; }
.base06-background { background-color: #e9e2cd; }
.base07-background { background-color: #fcf4de; }
.base08-background { background-color: #ca1d2c; }
.base09-background { background-color: #b7aa9a; }
.base0A-background { background-color: #7c84c4; }
.base0B-background { background-color: #edb7ab; }
.base0C-background { background-color: #309185; }
.base0D-background { background-color: #2e78c1; }
.base0E-background { background-color: #c0226e; }
.base0F-background { background-color: #650e16; }
.base10-background { background-color: #06151a; }
.base11-background { background-color: #030a0d; }
.base12-background { background-color: #d35f5a; }
.base13-background { background-color: #a86571; }
.base14-background { background-color: #d35f5a; }
.base15-background { background-color: #81908f; }
.base16-background { background-color: #7c84c4; }
.base17-background { background-color: #5b5db2; }

.base00 { color: #282f32; }
.base01 { color: #282f32; }
.base02 { color: #092027; }
.base03 { color: #415050; }
.base04 { color: #79817a; }
.base05 { color: #b1b1a3; }
.base06 { color: #e9e2cd; }
.base07 { color: #fcf4de; }
.base08 { color: #ca1d2c; }
.base09 { color: #b7aa9a; }
.base0A { color: #7c84c4; }
.base0B { color: #edb7ab; }
.base0C { color: #309185; }
.base0D { color: #2e78c1; }
.base0E { color: #c0226e; }
.base0F { color: #650e16; }
.base10 { color: #06151a; }
.base11 { color: #030a0d; }
.base12 { color: #d35f5a; }
.base13 { color: #a86571; }
.base14 { color: #d35f5a; }
.base15 { color: #81908f; }
.base16 { color: #7c84c4; }
.base17 { color: #5b5db2; }
