/* Piatto Light by Iterm2B24 */

.base00-background { background-color: #ffffff; }
.base01-background { background-color: #414141; }
.base02-background { background-color: #3f3f3f; }
.base03-background { background-color: #6f6f6f; }
.base04-background { background-color: #9f9f9f; }
.base05-background { background-color: #cfcfcf; }
.base06-background { background-color: #ffffff; }
.base07-background { background-color: #f2f2f2; }
.base08-background { background-color: #b23771; }
.base09-background { background-color: #cd6f34; }
.base0A-background { background-color: #3c5ea8; }
.base0B-background { background-color: #66781e; }
.base0C-background { background-color: #66781e; }
.base0D-background { background-color: #3c5ea8; }
.base0E-background { background-color: #a454b2; }
.base0F-background { background-color: #591b38; }
.base10-background { background-color: #2a2a2a; }
.base11-background { background-color: #151515; }
.base12-background { background-color: #db3365; }
.base13-background { background-color: #cd6f34; }
.base14-background { background-color: #829429; }
.base15-background { background-color: #829429; }
.base16-background { background-color: #3c5ea8; }
.base17-background { background-color: #a454b2; }

.base00 { color: #ffffff; }
.base01 { color: #414141; }
.base02 { color: #3f3f3f; }
.base03 { color: #6f6f6f; }
.base04 { color: #9f9f9f; }
.base05 { color: #cfcfcf; }
.base06 { color: #ffffff; }
.base07 { color: #f2f2f2; }
.base08 { color: #b23771; }
.base09 { color: #cd6f34; }
.base0A { color: #3c5ea8; }
.base0B { color: #66781e; }
.base0C { color: #66781e; }
.base0D { color: #3c5ea8; }
.base0E { color: #a454b2; }
.base0F { color: #591b38; }
.base10 { color: #2a2a2a; }
.base11 { color: #151515; }
.base12 { color: #db3365; }
.base13 { color: #cd6f34; }
.base14 { color: #829429; }
.base15 { color: #829429; }
.base16 { color: #3c5ea8; }
.base17 { color: #a454b2; }
