/* rebecca by Iterm2B24 */

.base00-background { background-color: #292a44; }
.base01-background { background-color: #12131d; }
.base02-background { background-color: #666699; }
.base03-background { background-color: #8585ac; }
.base04-background { background-color: #a4a4c0; }
.base05-background { background-color: #c3c3d4; }
.base06-background { background-color: #e3e2e8; }
.base07-background { background-color: #f3f2f8; }
.base08-background { background-color: #dd7655; }
.base09-background { background-color: #f2e7b7; }
.base0A-background { background-color: #69bffa; }
.base0B-background { background-color: #04dbb4; }
.base0C-background { background-color: #56d3c1; }
.base0D-background { background-color: #7aa5ff; }
.base0E-background { background-color: #be9bf8; }
.base0F-background { background-color: #6e3b2a; }
.base10-background { background-color: #444466; }
.base11-background { background-color: #222233; }
.base12-background { background-color: #ff91cd; }
.base13-background { background-color: #fefca8; }
.base14-background { background-color: #00e9c0; }
.base15-background { background-color: #8bfce1; }
.base16-background { background-color: #69bffa; }
.base17-background { background-color: #c07ff8; }

.base00 { color: #292a44; }
.base01 { color: #12131d; }
.base02 { color: #666699; }
.base03 { color: #8585ac; }
.base04 { color: #a4a4c0; }
.base05 { color: #c3c3d4; }
.base06 { color: #e3e2e8; }
.base07 { color: #f3f2f8; }
.base08 { color: #dd7655; }
.base09 { color: #f2e7b7; }
.base0A { color: #69bffa; }
.base0B { color: #04dbb4; }
.base0C { color: #56d3c1; }
.base0D { color: #7aa5ff; }
.base0E { color: #be9bf8; }
.base0F { color: #6e3b2a; }
.base10 { color: #444466; }
.base11 { color: #222233; }
.base12 { color: #ff91cd; }
.base13 { color: #fefca8; }
.base14 { color: #00e9c0; }
.base15 { color: #8bfce1; }
.base16 { color: #69bffa; }
.base17 { color: #c07ff8; }
