/* CrayonPonyFish by Iterm2B24 */

.base00-background { background-color: #140607; }
.base01-background { background-color: #2a1a1c; }
.base02-background { background-color: #3c2a2e; }
.base03-background { background-color: #473438; }
.base04-background { background-color: #523e43; }
.base05-background { background-color: #5d484e; }
.base06-background { background-color: #685259; }
.base07-background { background-color: #af949d; }
.base08-background { background-color: #90002a; }
.base09-background { background-color: #aa301b; }
.base0A-background { background-color: #cfc9ff; }
.base0B-background { background-color: #579523; }
.base0C-background { background-color: #e8a766; }
.base0D-background { background-color: #8b87af; }
.base0E-background { background-color: #682e50; }
.base0F-background { background-color: #480015; }
.base10-background { background-color: #281c1e; }
.base11-background { background-color: #140e0f; }
.base12-background { background-color: #c5245c; }
.base13-background { background-color: #c7371d; }
.base14-background { background-color: #8dff56; }
.base15-background { background-color: #ffceae; }
.base16-background { background-color: #cfc9ff; }
.base17-background { background-color: #fb6cb9; }

.base00 { color: #140607; }
.base01 { color: #2a1a1c; }
.base02 { color: #3c2a2e; }
.base03 { color: #473438; }
.base04 { color: #523e43; }
.base05 { color: #5d484e; }
.base06 { color: #685259; }
.base07 { color: #af949d; }
.base08 { color: #90002a; }
.base09 { color: #aa301b; }
.base0A { color: #cfc9ff; }
.base0B { color: #579523; }
.base0C { color: #e8a766; }
.base0D { color: #8b87af; }
.base0E { color: #682e50; }
.base0F { color: #480015; }
.base10 { color: #281c1e; }
.base11 { color: #140e0f; }
.base12 { color: #c5245c; }
.base13 { color: #c7371d; }
.base14 { color: #8dff56; }
.base15 { color: #ffceae; }
.base16 { color: #cfc9ff; }
.base17 { color: #fb6cb9; }
