/* Floraverse by Iterm2B24 */

.base00-background { background-color: #0e0c15; }
.base01-background { background-color: #08002e; }
.base02-background { background-color: #331e4d; }
.base03-background { background-color: #634e67; }
.base04-background { background-color: #937f82; }
.base05-background { background-color: #c3af9d; }
.base06-background { background-color: #f3e0b8; }
.base07-background { background-color: #fff5db; }
.base08-background { background-color: #64002c; }
.base09-background { background-color: #cd751c; }
.base0A-background { background-color: #40a4cf; }
.base0B-background { background-color: #5d731a; }
.base0C-background { background-color: #42a38c; }
.base0D-background { background-color: #1d6da1; }
.base0E-background { background-color: #b7077e; }
.base0F-background { background-color: #320016; }
.base10-background { background-color: #221433; }
.base11-background { background-color: #110a19; }
.base12-background { background-color: #d02063; }
.base13-background { background-color: #fac357; }
.base14-background { background-color: #b4ce59; }
.base15-background { background-color: #62caa8; }
.base16-background { background-color: #40a4cf; }
.base17-background { background-color: #f12aae; }

.base00 { color: #0e0c15; }
.base01 { color: #08002e; }
.base02 { color: #331e4d; }
.base03 { color: #634e67; }
.base04 { color: #937f82; }
.base05 { color: #c3af9d; }
.base06 { color: #f3e0b8; }
.base07 { color: #fff5db; }
.base08 { color: #64002c; }
.base09 { color: #cd751c; }
.base0A { color: #40a4cf; }
.base0B { color: #5d731a; }
.base0C { color: #42a38c; }
.base0D { color: #1d6da1; }
.base0E { color: #b7077e; }
.base0F { color: #320016; }
.base10 { color: #221433; }
.base11 { color: #110a19; }
.base12 { color: #d02063; }
.base13 { color: #fac357; }
.base14 { color: #b4ce59; }
.base15 { color: #62caa8; }
.base16 { color: #40a4cf; }
.base17 { color: #f12aae; }
