/* Espresso Libre by Iterm2B24 */

.base00-background { background-color: #2a211c; }
.base01-background { background-color: #000000; }
.base02-background { background-color: #545753; }
.base03-background { background-color: #737772; }
.base04-background { background-color: #939791; }
.base05-background { background-color: #b3b7b0; }
.base06-background { background-color: #d3d7cf; }
.base07-background { background-color: #ededec; }
.base08-background { background-color: #cc0000; }
.base09-background { background-color: #efe43a; }
.base0A-background { background-color: #43a8ed; }
.base0B-background { background-color: #1a921c; }
.base0C-background { background-color: #05989a; }
.base0D-background { background-color: #0066ff; }
.base0E-background { background-color: #c5656b; }
.base0F-background { background-color: #660000; }
.base10-background { background-color: #383a37; }
.base11-background { background-color: #1c1d1b; }
.base12-background { background-color: #ef2828; }
.base13-background { background-color: #fffa5c; }
.base14-background { background-color: #9aff87; }
.base15-background { background-color: #34e2e2; }
.base16-background { background-color: #43a8ed; }
.base17-background { background-color: #ff8089; }

.base00 { color: #2a211c; }
.base01 { color: #000000; }
.base02 { color: #545753; }
.base03 { color: #737772; }
.base04 { color: #939791; }
.base05 { color: #b3b7b0; }
.base06 { color: #d3d7cf; }
.base07 { color: #ededec; }
.base08 { color: #cc0000; }
.base09 { color: #efe43a; }
.base0A { color: #43a8ed; }
.base0B { color: #1a921c; }
.base0C { color: #05989a; }
.base0D { color: #0066ff; }
.base0E { color: #c5656b; }
.base0F { color: #660000; }
.base10 { color: #383a37; }
.base11 { color: #1c1d1b; }
.base12 { color: #ef2828; }
.base13 { color: #fffa5c; }
.base14 { color: #9aff87; }
.base15 { color: #34e2e2; }
.base16 { color: #43a8ed; }
.base17 { color: #ff8089; }
