/* Nocturnal Winter by Iterm2B24 */

.base00-background { background-color: #0d0d17; }
.base01-background { background-color: #4c4c4c; }
.base02-background { background-color: #7f7f7f; }
.base03-background { background-color: #9e9e9e; }
.base04-background { background-color: #bdbdbd; }
.base05-background { background-color: #dcdcdc; }
.base06-background { background-color: #fbfbfb; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #f12d52; }
.base09-background { background-color: #f5f079; }
.base0A-background { background-color: #6095fe; }
.base0B-background { background-color: #08cd7d; }
.base0C-background { background-color: #09c87a; }
.base0D-background { background-color: #3081df; }
.base0E-background { background-color: #fe2a6c; }
.base0F-background { background-color: #781629; }
.base10-background { background-color: #545454; }
.base11-background { background-color: #2a2a2a; }
.base12-background { background-color: #f16c85; }
.base13-background { background-color: #fefb67; }
.base14-background { background-color: #0ae78d; }
.base15-background { background-color: #0ae78d; }
.base16-background { background-color: #6095fe; }
.base17-background { background-color: #ff78a2; }

.base00 { color: #0d0d17; }
.base01 { color: #4c4c4c; }
.base02 { color: #7f7f7f; }
.base03 { color: #9e9e9e; }
.base04 { color: #bdbdbd; }
.base05 { color: #dcdcdc; }
.base06 { color: #fbfbfb; }
.base07 { color: #ffffff; }
.base08 { color: #f12d52; }
.base09 { color: #f5f079; }
.base0A { color: #6095fe; }
.base0B { color: #08cd7d; }
.base0C { color: #09c87a; }
.base0D { color: #3081df; }
.base0E { color: #fe2a6c; }
.base0F { color: #781629; }
.base10 { color: #545454; }
.base11 { color: #2a2a2a; }
.base12 { color: #f16c85; }
.base13 { color: #fefb67; }
.base14 { color: #0ae78d; }
.base15 { color: #0ae78d; }
.base16 { color: #6095fe; }
.base17 { color: #ff78a2; }
