/* Elementary by Iterm2B24 */

.base00-background { background-color: #181818; }
.base01-background { background-color: #242424; }
.base02-background { background-color: #4a4a4a; }
.base03-background { background-color: #737373; }
.base04-background { background-color: #9c9c9c; }
.base05-background { background-color: #c5c5c5; }
.base06-background { background-color: #eeeeee; }
.base07-background { background-color: #8c00eb; }
.base08-background { background-color: #d61b15; }
.base09-background { background-color: #fdb40b; }
.base0A-background { background-color: #0855fe; }
.base0B-background { background-color: #59a413; }
.base0C-background { background-color: #2594e0; }
.base0D-background { background-color: #053a8c; }
.base0E-background { background-color: #e40038; }
.base0F-background { background-color: #6b0d0a; }
.base10-background { background-color: #313131; }
.base11-background { background-color: #181818; }
.base12-background { background-color: #fb1b18; }
.base13-background { background-color: #fdc70e; }
.base14-background { background-color: #6ac118; }
.base15-background { background-color: #3ea7fc; }
.base16-background { background-color: #0855fe; }
.base17-background { background-color: #fb004f; }

.base00 { color: #181818; }
.base01 { color: #242424; }
.base02 { color: #4a4a4a; }
.base03 { color: #737373; }
.base04 { color: #9c9c9c; }
.base05 { color: #c5c5c5; }
.base06 { color: #eeeeee; }
.base07 { color: #8c00eb; }
.base08 { color: #d61b15; }
.base09 { color: #fdb40b; }
.base0A { color: #0855fe; }
.base0B { color: #59a413; }
.base0C { color: #2594e0; }
.base0D { color: #053a8c; }
.base0E { color: #e40038; }
.base0F { color: #6b0d0a; }
.base10 { color: #313131; }
.base11 { color: #181818; }
.base12 { color: #fb1b18; }
.base13 { color: #fdc70e; }
.base14 { color: #6ac118; }
.base15 { color: #3ea7fc; }
.base16 { color: #0855fe; }
.base17 { color: #fb004f; }
