/* Chalk by Base24 */

.base00-background { background-color: #151515; }
.base01-background { background-color: #202020; }
.base02-background { background-color: #303030; }
.base03-background { background-color: #505050; }
.base04-background { background-color: #b0b0b0; }
.base05-background { background-color: #d0d0d0; }
.base06-background { background-color: #e0e0e0; }
.base07-background { background-color: #f5f5f5; }
.base08-background { background-color: #fa859c; }
.base09-background { background-color: #ea9971; }
.base0A-background { background-color: #ddb26f; }
.base0B-background { background-color: #a1bb54; }
.base0C-background { background-color: #10bcad; }
.base0D-background { background-color: #5ab9ed; }
.base0E-background { background-color: #db8fea; }
.base0F-background { background-color: #deaf8f; }
.base10-background { background-color: #0b0b0b; }
.base11-background { background-color: #060606; }
.base12-background { background-color: #fb9fb1; }
.base13-background { background-color: #eda987; }
.base14-background { background-color: #acc267; }
.base15-background { background-color: #12cfc0; }
.base16-background { background-color: #6fc2ef; }
.base17-background { background-color: #e1a3ee; }

.base00 { color: #151515; }
.base01 { color: #202020; }
.base02 { color: #303030; }
.base03 { color: #505050; }
.base04 { color: #b0b0b0; }
.base05 { color: #d0d0d0; }
.base06 { color: #e0e0e0; }
.base07 { color: #f5f5f5; }
.base08 { color: #fa859c; }
.base09 { color: #ea9971; }
.base0A { color: #ddb26f; }
.base0B { color: #a1bb54; }
.base0C { color: #10bcad; }
.base0D { color: #5ab9ed; }
.base0E { color: #db8fea; }
.base0F { color: #deaf8f; }
.base10 { color: #0b0b0b; }
.base11 { color: #060606; }
.base12 { color: #fb9fb1; }
.base13 { color: #eda987; }
.base14 { color: #acc267; }
.base15 { color: #12cfc0; }
.base16 { color: #6fc2ef; }
.base17 { color: #e1a3ee; }
