/* SeaShells by Iterm2B24 */

.base00-background { background-color: #08131a; }
.base01-background { background-color: #17384c; }
.base02-background { background-color: #424b52; }
.base03-background { background-color: #696660; }
.base04-background { background-color: #90816f; }
.base05-background { background-color: #b79c7e; }
.base06-background { background-color: #deb88d; }
.base07-background { background-color: #fee3cd; }
.base08-background { background-color: #d15023; }
.base09-background { background-color: #fca02f; }
.base0A-background { background-color: #1bbcdd; }
.base0B-background { background-color: #027c9b; }
.base0C-background { background-color: #50a3b5; }
.base0D-background { background-color: #1e4950; }
.base0E-background { background-color: #68d3f1; }
.base0F-background { background-color: #682811; }
.base10-background { background-color: #2c3236; }
.base11-background { background-color: #16191b; }
.base12-background { background-color: #d38677; }
.base13-background { background-color: #fdd29e; }
.base14-background { background-color: #618c98; }
.base15-background { background-color: #86abb3; }
.base16-background { background-color: #1bbcdd; }
.base17-background { background-color: #bbe3ee; }

.base00 { color: #08131a; }
.base01 { color: #17384c; }
.base02 { color: #424b52; }
.base03 { color: #696660; }
.base04 { color: #90816f; }
.base05 { color: #b79c7e; }
.base06 { color: #deb88d; }
.base07 { color: #fee3cd; }
.base08 { color: #d15023; }
.base09 { color: #fca02f; }
.base0A { color: #1bbcdd; }
.base0B { color: #027c9b; }
.base0C { color: #50a3b5; }
.base0D { color: #1e4950; }
.base0E { color: #68d3f1; }
.base0F { color: #682811; }
.base10 { color: #2c3236; }
.base11 { color: #16191b; }
.base12 { color: #d38677; }
.base13 { color: #fdd29e; }
.base14 { color: #618c98; }
.base15 { color: #86abb3; }
.base16 { color: #1bbcdd; }
.base17 { color: #bbe3ee; }
