/* Misterioso by Iterm2B24 */

.base00-background { background-color: #2d3743; }
.base01-background { background-color: #000000; }
.base02-background { background-color: #555555; }
.base03-background { background-color: #787877; }
.base04-background { background-color: #9b9b9a; }
.base05-background { background-color: #bebebd; }
.base06-background { background-color: #e1e1e0; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #ff4242; }
.base09-background { background-color: #ffad29; }
.base0A-background { background-color: #23d7d7; }
.base0B-background { background-color: #74af68; }
.base0C-background { background-color: #23d7d7; }
.base0D-background { background-color: #338f86; }
.base0E-background { background-color: #9413e5; }
.base0F-background { background-color: #7f2121; }
.base10-background { background-color: #383838; }
.base11-background { background-color: #1c1c1c; }
.base12-background { background-color: #ff3242; }
.base13-background { background-color: #ffb929; }
.base14-background { background-color: #74cd68; }
.base15-background { background-color: #00ede1; }
.base16-background { background-color: #23d7d7; }
.base17-background { background-color: #ff37ff; }

.base00 { color: #2d3743; }
.base01 { color: #000000; }
.base02 { color: #555555; }
.base03 { color: #787877; }
.base04 { color: #9b9b9a; }
.base05 { color: #bebebd; }
.base06 { color: #e1e1e0; }
.base07 { color: #ffffff; }
.base08 { color: #ff4242; }
.base09 { color: #ffad29; }
.base0A { color: #23d7d7; }
.base0B { color: #74af68; }
.base0C { color: #23d7d7; }
.base0D { color: #338f86; }
.base0E { color: #9413e5; }
.base0F { color: #7f2121; }
.base10 { color: #383838; }
.base11 { color: #1c1c1c; }
.base12 { color: #ff3242; }
.base13 { color: #ffb929; }
.base14 { color: #74cd68; }
.base15 { color: #00ede1; }
.base16 { color: #23d7d7; }
.base17 { color: #ff37ff; }
