/* Tango Adapted by Iterm2B24 */

.base00-background { background-color: #fffefe; }
.base01-background { background-color: #000000; }
.base02-background { background-color: #8e928a; }
.base03-background { background-color: #a4a89f; }
.base04-background { background-color: #babeb5; }
.base05-background { background-color: #d0d4cb; }
.base06-background { background-color: #e6eae1; }
.base07-background { background-color: #f6f6f4; }
.base08-background { background-color: #ff0000; }
.base09-background { background-color: #efca00; }
.base0A-background { background-color: #88c9ff; }
.base0B-background { background-color: #59d500; }
.base0C-background { background-color: #00d0d6; }
.base0D-background { background-color: #00a1ff; }
.base0E-background { background-color: #c17ecb; }
.base0F-background { background-color: #7f0000; }
.base10-background { background-color: #5e615c; }
.base11-background { background-color: #2f302e; }
.base12-background { background-color: #ff0012; }
.base13-background { background-color: #fff021; }
.base14-background { background-color: #93fe00; }
.base15-background { background-color: #00fdff; }
.base16-background { background-color: #88c9ff; }
.base17-background { background-color: #e8a6e1; }

.base00 { color: #fffefe; }
.base01 { color: #000000; }
.base02 { color: #8e928a; }
.base03 { color: #a4a89f; }
.base04 { color: #babeb5; }
.base05 { color: #d0d4cb; }
.base06 { color: #e6eae1; }
.base07 { color: #f6f6f4; }
.base08 { color: #ff0000; }
.base09 { color: #efca00; }
.base0A { color: #88c9ff; }
.base0B { color: #59d500; }
.base0C { color: #00d0d6; }
.base0D { color: #00a1ff; }
.base0E { color: #c17ecb; }
.base0F { color: #7f0000; }
.base10 { color: #5e615c; }
.base11 { color: #2f302e; }
.base12 { color: #ff0012; }
.base13 { color: #fff021; }
.base14 { color: #93fe00; }
.base15 { color: #00fdff; }
.base16 { color: #88c9ff; }
.base17 { color: #e8a6e1; }
