/* Wombat by Iterm2B24 */

.base00-background { background-color: #171717; }
.base01-background { background-color: #000000; }
.base02-background { background-color: #313131; }
.base03-background { background-color: #5c5b58; }
.base04-background { background-color: #87857f; }
.base05-background { background-color: #b2afa6; }
.base06-background { background-color: #ded9ce; }
.base07-background { background-color: #fefffe; }
.base08-background { background-color: #ff605a; }
.base09-background { background-color: #ead89c; }
.base0A-background { background-color: #a5c7ff; }
.base0B-background { background-color: #b1e869; }
.base0C-background { background-color: #82fff6; }
.base0D-background { background-color: #5da9f6; }
.base0E-background { background-color: #e86aff; }
.base0F-background { background-color: #7f302d; }
.base10-background { background-color: #202020; }
.base11-background { background-color: #101010; }
.base12-background { background-color: #f58b7f; }
.base13-background { background-color: #eee5b2; }
.base14-background { background-color: #dcf88f; }
.base15-background { background-color: #b6fff9; }
.base16-background { background-color: #a5c7ff; }
.base17-background { background-color: #ddaaff; }

.base00 { color: #171717; }
.base01 { color: #000000; }
.base02 { color: #313131; }
.base03 { color: #5c5b58; }
.base04 { color: #87857f; }
.base05 { color: #b2afa6; }
.base06 { color: #ded9ce; }
.base07 { color: #fefffe; }
.base08 { color: #ff605a; }
.base09 { color: #ead89c; }
.base0A { color: #a5c7ff; }
.base0B { color: #b1e869; }
.base0C { color: #82fff6; }
.base0D { color: #5da9f6; }
.base0E { color: #e86aff; }
.base0F { color: #7f302d; }
.base10 { color: #202020; }
.base11 { color: #101010; }
.base12 { color: #f58b7f; }
.base13 { color: #eee5b2; }
.base14 { color: #dcf88f; }
.base15 { color: #b6fff9; }
.base16 { color: #a5c7ff; }
.base17 { color: #ddaaff; }
