/* Japanesque by Iterm2B24 */

.base00-background { background-color: #1d1d1d; }
.base01-background { background-color: #343835; }
.base02-background { background-color: #585a58; }
.base03-background { background-color: #80827f; }
.base04-background { background-color: #a8aaa7; }
.base05-background { background-color: #d0d2ce; }
.base06-background { background-color: #f9faf6; }
.base07-background { background-color: #b1b5ae; }
.base08-background { background-color: #ce3e60; }
.base09-background { background-color: #e8b32a; }
.base0A-background { background-color: #135879; }
.base0B-background { background-color: #7bb75b; }
.base0C-background { background-color: #389aac; }
.base0D-background { background-color: #4c99d3; }
.base0E-background { background-color: #a57fc4; }
.base0F-background { background-color: #671f30; }
.base10-background { background-color: #3a3c3a; }
.base11-background { background-color: #1d1e1d; }
.base12-background { background-color: #d18ea6; }
.base13-background { background-color: #77592e; }
.base14-background { background-color: #767e2b; }
.base15-background { background-color: #76bbca; }
.base16-background { background-color: #135879; }
.base17-background { background-color: #5f4190; }

.base00 { color: #1d1d1d; }
.base01 { color: #343835; }
.base02 { color: #585a58; }
.base03 { color: #80827f; }
.base04 { color: #a8aaa7; }
.base05 { color: #d0d2ce; }
.base06 { color: #f9faf6; }
.base07 { color: #b1b5ae; }
.base08 { color: #ce3e60; }
.base09 { color: #e8b32a; }
.base0A { color: #135879; }
.base0B { color: #7bb75b; }
.base0C { color: #389aac; }
.base0D { color: #4c99d3; }
.base0E { color: #a57fc4; }
.base0F { color: #671f30; }
.base10 { color: #3a3c3a; }
.base11 { color: #1d1e1d; }
.base12 { color: #d18ea6; }
.base13 { color: #77592e; }
.base14 { color: #767e2b; }
.base15 { color: #76bbca; }
.base16 { color: #135879; }
.base17 { color: #5f4190; }
