/* Wryan by Iterm2B24 */

.base00-background { background-color: #101010; }
.base01-background { background-color: #333333; }
.base02-background { background-color: #3d3d3d; }
.base03-background { background-color: #505456; }
.base04-background { background-color: #636c6f; }
.base05-background { background-color: #768488; }
.base06-background { background-color: #899ca1; }
.base07-background { background-color: #c0c0c0; }
.base08-background { background-color: #8c4665; }
.base09-background { background-color: #7c7c99; }
.base0A-background { background-color: #477ab3; }
.base0B-background { background-color: #287373; }
.base0C-background { background-color: #31658c; }
.base0D-background { background-color: #395573; }
.base0E-background { background-color: #5e468c; }
.base0F-background { background-color: #462332; }
.base10-background { background-color: #282828; }
.base11-background { background-color: #141414; }
.base12-background { background-color: #bf4d80; }
.base13-background { background-color: #9e9ecb; }
.base14-background { background-color: #53a6a6; }
.base15-background { background-color: #6096bf; }
.base16-background { background-color: #477ab3; }
.base17-background { background-color: #7e62b3; }

.base00 { color: #101010; }
.base01 { color: #333333; }
.base02 { color: #3d3d3d; }
.base03 { color: #505456; }
.base04 { color: #636c6f; }
.base05 { color: #768488; }
.base06 { color: #899ca1; }
.base07 { color: #c0c0c0; }
.base08 { color: #8c4665; }
.base09 { color: #7c7c99; }
.base0A { color: #477ab3; }
.base0B { color: #287373; }
.base0C { color: #31658c; }
.base0D { color: #395573; }
.base0E { color: #5e468c; }
.base0F { color: #462332; }
.base10 { color: #282828; }
.base11 { color: #141414; }
.base12 { color: #bf4d80; }
.base13 { color: #9e9ecb; }
.base14 { color: #53a6a6; }
.base15 { color: #6096bf; }
.base16 { color: #477ab3; }
.base17 { color: #7e62b3; }
