/* Material by Iterm2B24 */

.base00-background { background-color: #eaeaea; }
.base01-background { background-color: #212121; }
.base02-background { background-color: #424242; }
.base03-background { background-color: #6d6d6d; }
.base04-background { background-color: #989898; }
.base05-background { background-color: #c3c3c3; }
.base06-background { background-color: #eeeeee; }
.base07-background { background-color: #d8d8d8; }
.base08-background { background-color: #b7141e; }
.base09-background { background-color: #f5971d; }
.base0A-background { background-color: #53a4f3; }
.base0B-background { background-color: #457b23; }
.base0C-background { background-color: #0e707c; }
.base0D-background { background-color: #134eb2; }
.base0E-background { background-color: #550087; }
.base0F-background { background-color: #5b0a0f; }
.base10-background { background-color: #2c2c2c; }
.base11-background { background-color: #161616; }
.base12-background { background-color: #e83a3f; }
.base13-background { background-color: #fee92e; }
.base14-background { background-color: #7aba39; }
.base15-background { background-color: #26bad1; }
.base16-background { background-color: #53a4f3; }
.base17-background { background-color: #a94dbb; }

.base00 { color: #eaeaea; }
.base01 { color: #212121; }
.base02 { color: #424242; }
.base03 { color: #6d6d6d; }
.base04 { color: #989898; }
.base05 { color: #c3c3c3; }
.base06 { color: #eeeeee; }
.base07 { color: #d8d8d8; }
.base08 { color: #b7141e; }
.base09 { color: #f5971d; }
.base0A { color: #53a4f3; }
.base0B { color: #457b23; }
.base0C { color: #0e707c; }
.base0D { color: #134eb2; }
.base0E { color: #550087; }
.base0F { color: #5b0a0f; }
.base10 { color: #2c2c2c; }
.base11 { color: #161616; }
.base12 { color: #e83a3f; }
.base13 { color: #fee92e; }
.base14 { color: #7aba39; }
.base15 { color: #26bad1; }
.base16 { color: #53a4f3; }
.base17 { color: #a94dbb; }
