/* IC_Orange_PPL by Iterm2B24 */

.base00-background { background-color: #262626; }
.base01-background { background-color: #000000; }
.base02-background { background-color: #6a4e29; }
.base03-background { background-color: #8f6c41; }
.base04-background { background-color: #b48b59; }
.base05-background { background-color: #d9a971; }
.base06-background { background-color: #ffc88a; }
.base07-background { background-color: #f9f9fe; }
.base08-background { background-color: #c03900; }
.base09-background { background-color: #caae00; }
.base0A-background { background-color: #ffbd54; }
.base0B-background { background-color: #a3a900; }
.base0C-background { background-color: #f79400; }
.base0D-background { background-color: #bd6c00; }
.base0E-background { background-color: #fb5d00; }
.base0F-background { background-color: #601c00; }
.base10-background { background-color: #46341b; }
.base11-background { background-color: #231a0d; }
.base12-background { background-color: #ff8b67; }
.base13-background { background-color: #ffe36e; }
.base14-background { background-color: #f6ff3f; }
.base15-background { background-color: #c59752; }
.base16-background { background-color: #ffbd54; }
.base17-background { background-color: #fc874f; }

.base00 { color: #262626; }
.base01 { color: #000000; }
.base02 { color: #6a4e29; }
.base03 { color: #8f6c41; }
.base04 { color: #b48b59; }
.base05 { color: #d9a971; }
.base06 { color: #ffc88a; }
.base07 { color: #f9f9fe; }
.base08 { color: #c03900; }
.base09 { color: #caae00; }
.base0A { color: #ffbd54; }
.base0B { color: #a3a900; }
.base0C { color: #f79400; }
.base0D { color: #bd6c00; }
.base0E { color: #fb5d00; }
.base0F { color: #601c00; }
.base10 { color: #46341b; }
.base11 { color: #231a0d; }
.base12 { color: #ff8b67; }
.base13 { color: #ffe36e; }
.base14 { color: #f6ff3f; }
.base15 { color: #c59752; }
.base16 { color: #ffbd54; }
.base17 { color: #fc874f; }
