/* SoftServer by Iterm2B24 */

.base00-background { background-color: #242626; }
.base01-background { background-color: #000000; }
.base02-background { background-color: #666c6b; }
.base03-background { background-color: #727978; }
.base04-background { background-color: #7f8786; }
.base05-background { background-color: #8c9594; }
.base06-background { background-color: #99a3a2; }
.base07-background { background-color: #d1dfde; }
.base08-background { background-color: #a16869; }
.base09-background { background-color: #a29069; }
.base0A-background { background-color: #62b1df; }
.base0B-background { background-color: #99a569; }
.base0C-background { background-color: #6ba48f; }
.base0D-background { background-color: #6a8fa3; }
.base0E-background { background-color: #6971a3; }
.base0F-background { background-color: #503434; }
.base10-background { background-color: #444847; }
.base11-background { background-color: #222423; }
.base12-background { background-color: #dc5b5f; }
.base13-background { background-color: #deb35f; }
.base14-background { background-color: #bfde54; }
.base15-background { background-color: #64e39c; }
.base16-background { background-color: #62b1df; }
.base17-background { background-color: #5f6ede; }

.base00 { color: #242626; }
.base01 { color: #000000; }
.base02 { color: #666c6b; }
.base03 { color: #727978; }
.base04 { color: #7f8786; }
.base05 { color: #8c9594; }
.base06 { color: #99a3a2; }
.base07 { color: #d1dfde; }
.base08 { color: #a16869; }
.base09 { color: #a29069; }
.base0A { color: #62b1df; }
.base0B { color: #99a569; }
.base0C { color: #6ba48f; }
.base0D { color: #6a8fa3; }
.base0E { color: #6971a3; }
.base0F { color: #503434; }
.base10 { color: #444847; }
.base11 { color: #222423; }
.base12 { color: #dc5b5f; }
.base13 { color: #deb35f; }
.base14 { color: #bfde54; }
.base15 { color: #64e39c; }
.base16 { color: #62b1df; }
.base17 { color: #5f6ede; }
