/* MonaLisa by Iterm2B24 */

.base00-background { background-color: #110b0d; }
.base01-background { background-color: #341a0d; }
.base02-background { background-color: #874227; }
.base03-background { background-color: #a26734; }
.base04-background { background-color: #be8c41; }
.base05-background { background-color: #dab14e; }
.base06-background { background-color: #f6d75c; }
.base07-background { background-color: #ffe597; }
.base08-background { background-color: #9b281b; }
.base09-background { background-color: #c26e27; }
.base0A-background { background-color: #9eb2b3; }
.base0B-background { background-color: #626132; }
.base0C-background { background-color: #588056; }
.base0D-background { background-color: #515b5c; }
.base0E-background { background-color: #9b1d29; }
.base0F-background { background-color: #4d140d; }
.base10-background { background-color: #5a2c1a; }
.base11-background { background-color: #2d160d; }
.base12-background { background-color: #ff4230; }
.base13-background { background-color: #ff9565; }
.base14-background { background-color: #b3b163; }
.base15-background { background-color: #89cc8e; }
.base16-background { background-color: #9eb2b3; }
.base17-background { background-color: #ff5b6a; }

.base00 { color: #110b0d; }
.base01 { color: #341a0d; }
.base02 { color: #874227; }
.base03 { color: #a26734; }
.base04 { color: #be8c41; }
.base05 { color: #dab14e; }
.base06 { color: #f6d75c; }
.base07 { color: #ffe597; }
.base08 { color: #9b281b; }
.base09 { color: #c26e27; }
.base0A { color: #9eb2b3; }
.base0B { color: #626132; }
.base0C { color: #588056; }
.base0D { color: #515b5c; }
.base0E { color: #9b1d29; }
.base0F { color: #4d140d; }
.base10 { color: #5a2c1a; }
.base11 { color: #2d160d; }
.base12 { color: #ff4230; }
.base13 { color: #ff9565; }
.base14 { color: #b3b163; }
.base15 { color: #89cc8e; }
.base16 { color: #9eb2b3; }
.base17 { color: #ff5b6a; }
