/* Ubuntu by Iterm2B24 */

.base00-background { background-color: #300a24; }
.base01-background { background-color: #2e3436; }
.base02-background { background-color: #555753; }
.base03-background { background-color: #747772; }
.base04-background { background-color: #949791; }
.base05-background { background-color: #b3b7b0; }
.base06-background { background-color: #d3d7cf; }
.base07-background { background-color: #eeeeec; }
.base08-background { background-color: #cc0000; }
.base09-background { background-color: #c4a000; }
.base0A-background { background-color: #729fcf; }
.base0B-background { background-color: #4e9a06; }
.base0C-background { background-color: #06989a; }
.base0D-background { background-color: #3465a4; }
.base0E-background { background-color: #75507b; }
.base0F-background { background-color: #660000; }
.base10-background { background-color: #383a37; }
.base11-background { background-color: #1c1d1b; }
.base12-background { background-color: #ef2929; }
.base13-background { background-color: #fce94f; }
.base14-background { background-color: #8ae234; }
.base15-background { background-color: #34e2e2; }
.base16-background { background-color: #729fcf; }
.base17-background { background-color: #ad7fa8; }

.base00 { color: #300a24; }
.base01 { color: #2e3436; }
.base02 { color: #555753; }
.base03 { color: #747772; }
.base04 { color: #949791; }
.base05 { color: #b3b7b0; }
.base06 { color: #d3d7cf; }
.base07 { color: #eeeeec; }
.base08 { color: #cc0000; }
.base09 { color: #c4a000; }
.base0A { color: #729fcf; }
.base0B { color: #4e9a06; }
.base0C { color: #06989a; }
.base0D { color: #3465a4; }
.base0E { color: #75507b; }
.base0F { color: #660000; }
.base10 { color: #383a37; }
.base11 { color: #1c1d1b; }
.base12 { color: #ef2929; }
.base13 { color: #fce94f; }
.base14 { color: #8ae234; }
.base15 { color: #34e2e2; }
.base16 { color: #729fcf; }
.base17 { color: #ad7fa8; }
