/* Night Owlish Light by Iterm2B24 */

.base00-background { background-color: #ffffff; }
.base01-background { background-color: #011627; }
.base02-background { background-color: #7a8181; }
.base03-background { background-color: #7a8181; }
.base04-background { background-color: #7a8181; }
.base05-background { background-color: #7a8181; }
.base06-background { background-color: #7a8181; }
.base07-background { background-color: #989fb1; }
.base08-background { background-color: #d3423e; }
.base09-background { background-color: #daaa01; }
.base0A-background { background-color: #5ca7e4; }
.base0B-background { background-color: #2aa298; }
.base0C-background { background-color: #08916a; }
.base0D-background { background-color: #4876d6; }
.base0E-background { background-color: #403f53; }
.base0F-background { background-color: #69211f; }
.base10-background { background-color: #515656; }
.base11-background { background-color: #282b2b; }
.base12-background { background-color: #f76e6e; }
.base13-background { background-color: #dac26b; }
.base14-background { background-color: #49d0c5; }
.base15-background { background-color: #00c990; }
.base16-background { background-color: #5ca7e4; }
.base17-background { background-color: #697098; }

.base00 { color: #ffffff; }
.base01 { color: #011627; }
.base02 { color: #7a8181; }
.base03 { color: #7a8181; }
.base04 { color: #7a8181; }
.base05 { color: #7a8181; }
.base06 { color: #7a8181; }
.base07 { color: #989fb1; }
.base08 { color: #d3423e; }
.base09 { color: #daaa01; }
.base0A { color: #5ca7e4; }
.base0B { color: #2aa298; }
.base0C { color: #08916a; }
.base0D { color: #4876d6; }
.base0E { color: #403f53; }
.base0F { color: #69211f; }
.base10 { color: #515656; }
.base11 { color: #282b2b; }
.base12 { color: #f76e6e; }
.base13 { color: #dac26b; }
.base14 { color: #49d0c5; }
.base15 { color: #00c990; }
.base16 { color: #5ca7e4; }
.base17 { color: #697098; }
