/* Pro by Iterm2B24 */

.base00-background { background-color: #000000; }
.base01-background { background-color: #000000; }
.base02-background { background-color: #666666; }
.base03-background { background-color: #7c7c7c; }
.base04-background { background-color: #929292; }
.base05-background { background-color: #a8a8a8; }
.base06-background { background-color: #bfbfbf; }
.base07-background { background-color: #e5e5e5; }
.base08-background { background-color: #990000; }
.base09-background { background-color: #999900; }
.base0A-background { background-color: #0000ff; }
.base0B-background { background-color: #00a600; }
.base0C-background { background-color: #00a6b2; }
.base0D-background { background-color: #1f08db; }
.base0E-background { background-color: #b200b2; }
.base0F-background { background-color: #4c0000; }
.base10-background { background-color: #444444; }
.base11-background { background-color: #222222; }
.base12-background { background-color: #e50000; }
.base13-background { background-color: #e5e500; }
.base14-background { background-color: #00d900; }
.base15-background { background-color: #00e5e5; }
.base16-background { background-color: #0000ff; }
.base17-background { background-color: #e500e5; }

.base00 { color: #000000; }
.base01 { color: #000000; }
.base02 { color: #666666; }
.base03 { color: #7c7c7c; }
.base04 { color: #929292; }
.base05 { color: #a8a8a8; }
.base06 { color: #bfbfbf; }
.base07 { color: #e5e5e5; }
.base08 { color: #990000; }
.base09 { color: #999900; }
.base0A { color: #0000ff; }
.base0B { color: #00a600; }
.base0C { color: #00a6b2; }
.base0D { color: #1f08db; }
.base0E { color: #b200b2; }
.base0F { color: #4c0000; }
.base10 { color: #444444; }
.base11 { color: #222222; }
.base12 { color: #e50000; }
.base13 { color: #e5e500; }
.base14 { color: #00d900; }
.base15 { color: #00e5e5; }
.base16 { color: #0000ff; }
.base17 { color: #e500e5; }
