/* Chalkboard by Iterm2B24 */

.base00-background { background-color: #29262f; }
.base01-background { background-color: #000000; }
.base02-background { background-color: #323232; }
.base03-background { background-color: #5b5b5b; }
.base04-background { background-color: #858585; }
.base05-background { background-color: #afafaf; }
.base06-background { background-color: #d9d9d9; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #c37372; }
.base09-background { background-color: #c2c372; }
.base0A-background { background-color: #aaaadb; }
.base0B-background { background-color: #72c373; }
.base0C-background { background-color: #72c2c3; }
.base0D-background { background-color: #7372c3; }
.base0E-background { background-color: #c372c2; }
.base0F-background { background-color: #613939; }
.base10-background { background-color: #212121; }
.base11-background { background-color: #101010; }
.base12-background { background-color: #dbaaaa; }
.base13-background { background-color: #dadbaa; }
.base14-background { background-color: #aadbaa; }
.base15-background { background-color: #aadadb; }
.base16-background { background-color: #aaaadb; }
.base17-background { background-color: #dbaada; }

.base00 { color: #29262f; }
.base01 { color: #000000; }
.base02 { color: #323232; }
.base03 { color: #5b5b5b; }
.base04 { color: #858585; }
.base05 { color: #afafaf; }
.base06 { color: #d9d9d9; }
.base07 { color: #ffffff; }
.base08 { color: #c37372; }
.base09 { color: #c2c372; }
.base0A { color: #aaaadb; }
.base0B { color: #72c373; }
.base0C { color: #72c2c3; }
.base0D { color: #7372c3; }
.base0E { color: #c372c2; }
.base0F { color: #613939; }
.base10 { color: #212121; }
.base11 { color: #101010; }
.base12 { color: #dbaaaa; }
.base13 { color: #dadbaa; }
.base14 { color: #aadbaa; }
.base15 { color: #aadadb; }
.base16 { color: #aaaadb; }
.base17 { color: #dbaada; }
