/* FunForrest by Iterm2B24 */

.base00-background { background-color: #241200; }
.base01-background { background-color: #000000; }
.base02-background { background-color: #7e6954; }
.base03-background { background-color: #957f58; }
.base04-background { background-color: #ad955c; }
.base05-background { background-color: #c5ab60; }
.base06-background { background-color: #ddc165; }
.base07-background { background-color: #ffe9a3; }
.base08-background { background-color: #d5252b; }
.base09-background { background-color: #bd8a13; }
.base0A-background { background-color: #7cc9ce; }
.base0B-background { background-color: #909b00; }
.base0C-background { background-color: #d98112; }
.base0D-background { background-color: #4698a2; }
.base0E-background { background-color: #8c4231; }
.base0F-background { background-color: #6a1215; }
.base10-background { background-color: #544638; }
.base11-background { background-color: #2a231c; }
.base12-background { background-color: #e4591b; }
.base13-background { background-color: #ffca1b; }
.base14-background { background-color: #bfc659; }
.base15-background { background-color: #e6a96b; }
.base16-background { background-color: #7cc9ce; }
.base17-background { background-color: #d16349; }

.base00 { color: #241200; }
.base01 { color: #000000; }
.base02 { color: #7e6954; }
.base03 { color: #957f58; }
.base04 { color: #ad955c; }
.base05 { color: #c5ab60; }
.base06 { color: #ddc165; }
.base07 { color: #ffe9a3; }
.base08 { color: #d5252b; }
.base09 { color: #bd8a13; }
.base0A { color: #7cc9ce; }
.base0B { color: #909b00; }
.base0C { color: #d98112; }
.base0D { color: #4698a2; }
.base0E { color: #8c4231; }
.base0F { color: #6a1215; }
.base10 { color: #544638; }
.base11 { color: #2a231c; }
.base12 { color: #e4591b; }
.base13 { color: #ffca1b; }
.base14 { color: #bfc659; }
.base15 { color: #e6a96b; }
.base16 { color: #7cc9ce; }
.base17 { color: #d16349; }
