/* FirefoxDev by Iterm2B24 */

.base00-background { background-color: #0e1011; }
.base01-background { background-color: #002731; }
.base02-background { background-color: #001e26; }
.base03-background { background-color: #374d53; }
.base04-background { background-color: #6e7d81; }
.base05-background { background-color: #a5acae; }
.base06-background { background-color: #dcdcdc; }
.base07-background { background-color: #e2e2e2; }
.base08-background { background-color: #e63853; }
.base09-background { background-color: #a57705; }
.base0A-background { background-color: #006fc0; }
.base0B-background { background-color: #5eb83c; }
.base0C-background { background-color: #4b73a2; }
.base0D-background { background-color: #359ddf; }
.base0E-background { background-color: #d75cff; }
.base0F-background { background-color: #731c29; }
.base10-background { background-color: #001419; }
.base11-background { background-color: #000a0c; }
.base12-background { background-color: #e1003f; }
.base13-background { background-color: #cc9308; }
.base14-background { background-color: #1d9000; }
.base15-background { background-color: #005794; }
.base16-background { background-color: #006fc0; }
.base17-background { background-color: #a200da; }

.base00 { color: #0e1011; }
.base01 { color: #002731; }
.base02 { color: #001e26; }
.base03 { color: #374d53; }
.base04 { color: #6e7d81; }
.base05 { color: #a5acae; }
.base06 { color: #dcdcdc; }
.base07 { color: #e2e2e2; }
.base08 { color: #e63853; }
.base09 { color: #a57705; }
.base0A { color: #006fc0; }
.base0B { color: #5eb83c; }
.base0C { color: #4b73a2; }
.base0D { color: #359ddf; }
.base0E { color: #d75cff; }
.base0F { color: #731c29; }
.base10 { color: #001419; }
.base11 { color: #000a0c; }
.base12 { color: #e1003f; }
.base13 { color: #cc9308; }
.base14 { color: #1d9000; }
.base15 { color: #005794; }
.base16 { color: #006fc0; }
.base17 { color: #a200da; }
