/* ForestBlue by Iterm2B24 */

.base00-background { background-color: #051519; }
.base01-background { background-color: #333333; }
.base02-background { background-color: #3d3d3d; }
.base03-background { background-color: #666361; }
.base04-background { background-color: #8f8a85; }
.base05-background { background-color: #b8b1a9; }
.base06-background { background-color: #e2d8cd; }
.base07-background { background-color: #e2d8cd; }
.base08-background { background-color: #f8818e; }
.base09-background { background-color: #1a8d63; }
.base0A-background { background-color: #39a7a2; }
.base0B-background { background-color: #92d3a2; }
.base0C-background { background-color: #31658c; }
.base0D-background { background-color: #8ed0ce; }
.base0E-background { background-color: #5e468c; }
.base0F-background { background-color: #7c4047; }
.base10-background { background-color: #282828; }
.base11-background { background-color: #141414; }
.base12-background { background-color: #fb3d66; }
.base13-background { background-color: #2fc859; }
.base14-background { background-color: #6bb48d; }
.base15-background { background-color: #6096bf; }
.base16-background { background-color: #39a7a2; }
.base17-background { background-color: #7e62b3; }

.base00 { color: #051519; }
.base01 { color: #333333; }
.base02 { color: #3d3d3d; }
.base03 { color: #666361; }
.base04 { color: #8f8a85; }
.base05 { color: #b8b1a9; }
.base06 { color: #e2d8cd; }
.base07 { color: #e2d8cd; }
.base08 { color: #f8818e; }
.base09 { color: #1a8d63; }
.base0A { color: #39a7a2; }
.base0B { color: #92d3a2; }
.base0C { color: #31658c; }
.base0D { color: #8ed0ce; }
.base0E { color: #5e468c; }
.base0F { color: #7c4047; }
.base10 { color: #282828; }
.base11 { color: #141414; }
.base12 { color: #fb3d66; }
.base13 { color: #2fc859; }
.base14 { color: #6bb48d; }
.base15 { color: #6096bf; }
.base16 { color: #39a7a2; }
.base17 { color: #7e62b3; }
