/* Smyck by Iterm2B24 */

.base00-background { background-color: #1b1b1b; }
.base01-background { background-color: #000000; }
.base02-background { background-color: #7a7a7a; }
.base03-background { background-color: #838383; }
.base04-background { background-color: #8d8d8d; }
.base05-background { background-color: #969696; }
.base06-background { background-color: #a0a0a0; }
.base07-background { background-color: #f7f7f7; }
.base08-background { background-color: #b74131; }
.base09-background { background-color: #c4a400; }
.base0A-background { background-color: #8dcff0; }
.base0B-background { background-color: #7da900; }
.base0C-background { background-color: #207383; }
.base0D-background { background-color: #62a3c4; }
.base0E-background { background-color: #b98acc; }
.base0F-background { background-color: #5b2018; }
.base10-background { background-color: #515151; }
.base11-background { background-color: #282828; }
.base12-background { background-color: #d6837b; }
.base13-background { background-color: #fee14d; }
.base14-background { background-color: #c4f036; }
.base15-background { background-color: #69d9cf; }
.base16-background { background-color: #8dcff0; }
.base17-background { background-color: #f799ff; }

.base00 { color: #1b1b1b; }
.base01 { color: #000000; }
.base02 { color: #7a7a7a; }
.base03 { color: #838383; }
.base04 { color: #8d8d8d; }
.base05 { color: #969696; }
.base06 { color: #a0a0a0; }
.base07 { color: #f7f7f7; }
.base08 { color: #b74131; }
.base09 { color: #c4a400; }
.base0A { color: #8dcff0; }
.base0B { color: #7da900; }
.base0C { color: #207383; }
.base0D { color: #62a3c4; }
.base0E { color: #b98acc; }
.base0F { color: #5b2018; }
.base10 { color: #515151; }
.base11 { color: #282828; }
.base12 { color: #d6837b; }
.base13 { color: #fee14d; }
.base14 { color: #c4f036; }
.base15 { color: #69d9cf; }
.base16 { color: #8dcff0; }
.base17 { color: #f799ff; }
