/* Brogrammer by Base24 */

.base00-background { background-color: #131313; }
.base01-background { background-color: #1f1f1f; }
.base02-background { background-color: #2a3141; }
.base03-background { background-color: #343d50; }
.base04-background { background-color: #d6dae4; }
.base05-background { background-color: #c1c8d7; }
.base06-background { background-color: #e3e6ed; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #f71118; }
.base09-background { background-color: #ecb90f; }
.base0A-background { background-color: #0f80d5; }
.base0B-background { background-color: #2cc55d; }
.base0C-background { background-color: #0f80d5; }
.base0D-background { background-color: #2a84d2; }
.base0E-background { background-color: #4e59b7; }
.base0F-background { background-color: #7b080c; }
.base10-background { background-color: #0a0a0a; }
.base11-background { background-color: #020202; }
.base12-background { background-color: #de342e; }
.base13-background { background-color: #f2bd09; }
.base14-background { background-color: #1dd260; }
.base15-background { background-color: #289af0; }
.base16-background { background-color: #509bdc; }
.base17-background { background-color: #524fb9; }

.base00 { color: #131313; }
.base01 { color: #1f1f1f; }
.base02 { color: #2a3141; }
.base03 { color: #343d50; }
.base04 { color: #d6dae4; }
.base05 { color: #c1c8d7; }
.base06 { color: #e3e6ed; }
.base07 { color: #ffffff; }
.base08 { color: #f71118; }
.base09 { color: #ecb90f; }
.base0A { color: #0f80d5; }
.base0B { color: #2cc55d; }
.base0C { color: #0f80d5; }
.base0D { color: #2a84d2; }
.base0E { color: #4e59b7; }
.base0F { color: #7b080c; }
.base10 { color: #0a0a0a; }
.base11 { color: #020202; }
.base12 { color: #de342e; }
.base13 { color: #f2bd09; }
.base14 { color: #1dd260; }
.base15 { color: #289af0; }
.base16 { color: #509bdc; }
.base17 { color: #524fb9; }
