/* Banana Blueberry by Iterm2B24 */

.base00-background { background-color: #191322; }
.base01-background { background-color: #16141e; }
.base02-background { background-color: #485161; }
.base03-background { background-color: #727985; }
.base04-background { background-color: #9ca1a9; }
.base05-background { background-color: #c6c9cd; }
.base06-background { background-color: #f1f1f1; }
.base07-background { background-color: #feffff; }
.base08-background { background-color: #ff6a7e; }
.base09-background { background-color: #e5c62f; }
.base0A-background { background-color: #91fff3; }
.base0B-background { background-color: #00bc9b; }
.base0C-background { background-color: #55b6c1; }
.base0D-background { background-color: #22e8df; }
.base0E-background { background-color: #dc3969; }
.base0F-background { background-color: #7f353f; }
.base10-background { background-color: #303640; }
.base11-background { background-color: #181b20; }
.base12-background { background-color: #fd9ea1; }
.base13-background { background-color: #f9e46a; }
.base14-background { background-color: #97c378; }
.base15-background { background-color: #bcf2fe; }
.base16-background { background-color: #91fff3; }
.base17-background { background-color: #da70d5; }

.base00 { color: #191322; }
.base01 { color: #16141e; }
.base02 { color: #485161; }
.base03 { color: #727985; }
.base04 { color: #9ca1a9; }
.base05 { color: #c6c9cd; }
.base06 { color: #f1f1f1; }
.base07 { color: #feffff; }
.base08 { color: #ff6a7e; }
.base09 { color: #e5c62f; }
.base0A { color: #91fff3; }
.base0B { color: #00bc9b; }
.base0C { color: #55b6c1; }
.base0D { color: #22e8df; }
.base0E { color: #dc3969; }
.base0F { color: #7f353f; }
.base10 { color: #303640; }
.base11 { color: #181b20; }
.base12 { color: #fd9ea1; }
.base13 { color: #f9e46a; }
.base14 { color: #97c378; }
.base15 { color: #bcf2fe; }
.base16 { color: #91fff3; }
.base17 { color: #da70d5; }
