/* Cobalt Neon by Iterm2B24 */

.base00-background { background-color: #142838; }
.base01-background { background-color: #142630; }
.base02-background { background-color: #fff688; }
.base03-background { background-color: #eeca92; }
.base04-background { background-color: #dd9e9c; }
.base05-background { background-color: #cc72a6; }
.base06-background { background-color: #ba45b1; }
.base07-background { background-color: #8ff586; }
.base08-background { background-color: #ff2320; }
.base09-background { background-color: #e9e75c; }
.base0A-background { background-color: #3c7dd2; }
.base0B-background { background-color: #3aa5ff; }
.base0C-background { background-color: #8ff586; }
.base0D-background { background-color: #8ff586; }
.base0E-background { background-color: #781aa0; }
.base0F-background { background-color: #7f1110; }
.base10-background { background-color: #aaa45a; }
.base11-background { background-color: #55522d; }
.base12-background { background-color: #d4312e; }
.base13-background { background-color: #e9f06d; }
.base14-background { background-color: #8ff586; }
.base15-background { background-color: #6cbc67; }
.base16-background { background-color: #3c7dd2; }
.base17-background { background-color: #8230a7; }

.base00 { color: #142838; }
.base01 { color: #142630; }
.base02 { color: #fff688; }
.base03 { color: #eeca92; }
.base04 { color: #dd9e9c; }
.base05 { color: #cc72a6; }
.base06 { color: #ba45b1; }
.base07 { color: #8ff586; }
.base08 { color: #ff2320; }
.base09 { color: #e9e75c; }
.base0A { color: #3c7dd2; }
.base0B { color: #3aa5ff; }
.base0C { color: #8ff586; }
.base0D { color: #8ff586; }
.base0E { color: #781aa0; }
.base0F { color: #7f1110; }
.base10 { color: #aaa45a; }
.base11 { color: #55522d; }
.base12 { color: #d4312e; }
.base13 { color: #e9f06d; }
.base14 { color: #8ff586; }
.base15 { color: #6cbc67; }
.base16 { color: #3c7dd2; }
.base17 { color: #8230a7; }
