/* SleepyHollow by Iterm2B24 */

.base00-background { background-color: #121213; }
.base01-background { background-color: #572000; }
.base02-background { background-color: #4e4b60; }
.base03-background { background-color: #665e6c; }
.base04-background { background-color: #7e7278; }
.base05-background { background-color: #968684; }
.base06-background { background-color: #af9a91; }
.base07-background { background-color: #d1c7a9; }
.base08-background { background-color: #b93934; }
.base09-background { background-color: #b45600; }
.base0A-background { background-color: #8085ef; }
.base0B-background { background-color: #90773e; }
.base0C-background { background-color: #8eaea9; }
.base0D-background { background-color: #5e62b4; }
.base0E-background { background-color: #a07c7b; }
.base0F-background { background-color: #5c1c1a; }
.base10-background { background-color: #343240; }
.base11-background { background-color: #1a1920; }
.base12-background { background-color: #d9443e; }
.base13-background { background-color: #f66713; }
.base14-background { background-color: #d6b04e; }
.base15-background { background-color: #a4dbe7; }
.base16-background { background-color: #8085ef; }
.base17-background { background-color: #e1c2ba; }

.base00 { color: #121213; }
.base01 { color: #572000; }
.base02 { color: #4e4b60; }
.base03 { color: #665e6c; }
.base04 { color: #7e7278; }
.base05 { color: #968684; }
.base06 { color: #af9a91; }
.base07 { color: #d1c7a9; }
.base08 { color: #b93934; }
.base09 { color: #b45600; }
.base0A { color: #8085ef; }
.base0B { color: #90773e; }
.base0C { color: #8eaea9; }
.base0D { color: #5e62b4; }
.base0E { color: #a07c7b; }
.base0F { color: #5c1c1a; }
.base10 { color: #343240; }
.base11 { color: #1a1920; }
.base12 { color: #d9443e; }
.base13 { color: #f66713; }
.base14 { color: #d6b04e; }
.base15 { color: #a4dbe7; }
.base16 { color: #8085ef; }
.base17 { color: #e1c2ba; }
