/* synthwave-everything by Iterm2B24 */

.base00-background { background-color: #2a2139; }
.base01-background { background-color: #fefefe; }
.base02-background { background-color: #fefefe; }
.base03-background { background-color: #fefefe; }
.base04-background { background-color: #fefefe; }
.base05-background { background-color: #fefefe; }
.base06-background { background-color: #fefefe; }
.base07-background { background-color: #fefefe; }
.base08-background { background-color: #f97e72; }
.base09-background { background-color: #fede5d; }
.base0A-background { background-color: #36f9f6; }
.base0B-background { background-color: #72f1b8; }
.base0C-background { background-color: #f772e0; }
.base0D-background { background-color: #6d77b3; }
.base0E-background { background-color: #c792ea; }
.base0F-background { background-color: #7c3f39; }
.base10-background { background-color: #a9a9a9; }
.base11-background { background-color: #545454; }
.base12-background { background-color: #f88414; }
.base13-background { background-color: #fff951; }
.base14-background { background-color: #72f1b8; }
.base15-background { background-color: #f92aad; }
.base16-background { background-color: #36f9f6; }
.base17-background { background-color: #e1acff; }

.base00 { color: #2a2139; }
.base01 { color: #fefefe; }
.base02 { color: #fefefe; }
.base03 { color: #fefefe; }
.base04 { color: #fefefe; }
.base05 { color: #fefefe; }
.base06 { color: #fefefe; }
.base07 { color: #fefefe; }
.base08 { color: #f97e72; }
.base09 { color: #fede5d; }
.base0A { color: #36f9f6; }
.base0B { color: #72f1b8; }
.base0C { color: #f772e0; }
.base0D { color: #6d77b3; }
.base0E { color: #c792ea; }
.base0F { color: #7c3f39; }
.base10 { color: #a9a9a9; }
.base11 { color: #545454; }
.base12 { color: #f88414; }
.base13 { color: #fff951; }
.base14 { color: #72f1b8; }
.base15 { color: #f92aad; }
.base16 { color: #36f9f6; }
.base17 { color: #e1acff; }
